/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}
/*------------------------
  my css
--------------------------*/
.nowrap{
	white-space: nowrap;
}
.align-center{
	text-align:center;
}
.align-right{
	text-align:right;
}
a,
a:link,
a:active,
a:focus,
a:visited{
	cursor: pointer;
	color:#5068A9;
}
.external-link:after {
	font-family: 'Font Awesome 5 Free';
	font-weight: 900;
	content:'\f35d';
	font-size: 1rem;
	margin-left: 2px;
}
/*------------------------
  responsive
--------------------------*/
input[type="text"],
input[type="radio"] ,
input[type="checkbox"],
input[type="date"],
select,
textarea{
	outline:none;
}
input[type="radio"] ,
input[type="checkbox"]{
  vertical-align: middle;
	margin:0 4px;
}
input[type="text"],
input[type="date"],
select,
textarea{
  display: block;
  height:32px;
  border:none;
  border:1px solid #d2d9e0;
  background-color:transparent;
  border-radius:3px;
  font-size: 1.4rem;
  padding:5px;
}
select{
  height: 32px !important;
  border-radius: 2px!important;
}
/*------------------------
  button
--------------------------*/
button{
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}
.btn{
  font-size: 1.4rem;
  transition:all,.2s;
  padding: 5px 10px;
  min-width:100px;
  height:36px;
  border-radius:3px;
  text-align: center;
}
.s-btn{
  font-size: 1.3rem;
  transition:all,.2s;
  padding: 5px 10px;
  height:28px;
  border-radius:3px;
  text-align: center;
  white-space:nowrap;
}
.btn-blue,
.btn-blue:hover{
  background-color: #5068A9;
  color: #fff;
  font-weight: 700;
}
.btn-green,
.btn-green:hover{
  background-color: #008000;
  color: #fff;
  font-weight: 700;
}
.btn-red,
.btn-red:hover{
  background-color: #ff0000;
  color: #fff;
  font-weight: 700;
}
.btn-blue:active{
  background-color: #617BC3;
  color: #fff;
}
.btn-green:active{
  background-color: #0e9e0e;
  color: #fff;
}
.btn-red:active{
    background-color: #f74e4e;
    color: #fff;
}
.btn-registration{
  background-color: #4f8844;
  color: #fff;
  font-weight: 700;
}
.btn-registration:active{
  background-color: #79a770;
}
.btn-link{
	color:#5068A9;
  text-align:center;
	padding: 0;
	letter-spacing: 0.02em;
}
.btn-link:hover{
  text-decoration: underline;
}
.btn-gray{
  background-color: #ccc;
}
.btn-gray:active{
  background-color: #ddd;
}
.btn-hover-gray{
	font-size: 1.8rem;
	width: 32px;
	height: 32px;
	line-height: 30px;
	text-align: center;
	border-radius: 3px;
	cursor: pointer;
	transition: all,.3s;
	color: #888;
}
.btn-hover-gray:hover,
.active .btn-hover-gray{
  background-color: rgba(0,0,0,0.1);
	color: #555;
}
/* hover */
.hover-white:hover{
  background-color: rgba(255,255,255,.1);
}
.square-btn{
	height: 20px;
	width: 20px;
	border-radius:3px;
}
/*------------------------
  responsive
--------------------------*/
.no-pc,
.sp-only{
	display: none;
}
.no-sp,
.pc-only{
	display: inline-block;
}
.flex-row,
.flex-row-responsive{
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}
.flex-row .flex-item,
.flex-row-responsive .flex-item{
	width: calc(50% - 5px);
}
.flex-row.space-between,
.flex-row-responsive.space-between{
	justify-content: space-between;
}
.flex-row.vertical-middle,
.flex-row-responsive.vertical-middle{
	align-items: center;
}
@media all and (max-width:1030px){
	.no-pc{
		display: inline-block;
	}
  .pc-only{
    display: none;
  }

}
@media all and (max-width:480px){
	.sp-only{
		display: inline-block;
	}
	.no-sp{
		display: none;
	}
	.flex-row-responsive{
		flex-direction: column;
	}
	.flex-row-responsive .flex-item{
		width: 100%;
	}
	.flex-row-responsive.vertical-middle{
		align-items: flex-start;
	}
  .btn:not(.btn-link){
    height: 44px;
    width: 100%;
  }
}
.pengiriman_bottom {
    margin-left: 10px;
}