@import url('https://fonts.googleapis.com/css?family=Montserrat:300|Noto+Sans+JP:100,300,400,500,700,900');

html {
    font-size: 62.5%;
    height: 100%;
}

* {
    box-sizing: border-box;
}

body {
    font-family: Helvetica Neue, Helvetica, Hiragino Sans, 'ヒラギノ角ゴ ProN W3', Hiragino Kaku Gothic ProN, "メイリオ", Meiryo, sans-serif;
    font-feature-settings: 'palt';
    -webkit-font-smoothing: antialiased;
    -moZ-osx-font-smoothing: grayscale;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0.05em;
    position: relative;
    height: 100%;
    background-color: #eee;
    color: #222;
}

span.code {
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: 0.01em;
}

span.bold {
    font-size: 1.4rem;
    font-weight: 700;
}

.hidden {
    display: none;
}

/*------------------------
  header
--------------------------*/
.header {
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 10px;
    background-color: #5068A9;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    color: #fff;
    text-align: center;
    z-index: 2;
}

.header a,
.side-wrap a {
    text-decoration: none;
}

.header-inner {
    position: relative;
    height: 100%;
    width: 100%;
}

.logo {
    font-size: 40px;
    font-weight: 300;
    line-height: 60px;
    font-family: 'Montserrat', sans-serif;
}

.header-left {
    position: absolute;
    top: calc(50% - 20px);
    bottom: 0;
    left: 0;
}

.header-trigger {
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 2.4rem;
    padding: 0 10px;
    cursor: pointer;
    transition: all, .2s;
    border-radius: 2px;
}

.header-data {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
}

.header-data .user-data {
    margin-right: 10px;
}

.header .btn-link {
    color: #fff;
    text-align: center;
}

.footer {
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    font-size: 1.2rem;
    color: #888;
}

/*------------------------
  side
--------------------------*/
.wrapper {
    padding-top: 60px;
}

.side-wrap {
    position: fixed;
    top: 60px;
    bottom: 0;
    left: 0;
    width: 240px;
    background-color: #fff;
    border-right: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    transition: .2s ease-out;
}

/* navigation */
.navigation {
    overflow-y: auto;
}

.nav-trigger {
    color: #324E7B !important;
    font-weight: 700 !important;
    font-size: 1.5rem;
    height: 48px;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: all, .2s;
    padding: 0 20px;
}

.nav-trigger:hover,
.nav-trigger.active,
.nav-second li:hover {
    color: #12263f;
    background-color: #f4f5f7;
}

.nav-trigger > .icon {
    font-size: 1.2rem;
    transition: transform .3s;
    margin-left: auto;
}

.nav-trigger.active .icon {
    transform: rotateZ(90deg);
}

.nav-second {
    display: none;
}

.nav-second li a {
    display: block;
    padding: 12px 20px 12px 30px;
    font-size: 1.2rem;
    transition: all, .3s;
}

.nav-second li a:hover {
    background-color: #f4f5f7;
}

/* nav-data */
.nav-data {
    margin-top: auto;
}

.nav-data .user-data {
    padding: 20px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

.nav-data .sign-out {
    display: block;
    margin: 10px auto;
    transition: all, .3s;
    text-align: center;
    color: #324E7B;
}

.nav-data .sign-out .icon {
    font-size: 2rem;
    vertical-align: middle;
    margin-right: 5px;
}

/*------------------------
  main
--------------------------*/
.main-wrap {
    margin-left: 240px;
}

.main-content {
    padding: 40px;
    max-width: 1200px;
    margin: 0 auto;
}

.content-title {
    font-size: 2rem;
    /* text-align: center; */
    margin-bottom: 10px;
    color: #324E7B;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
}

.white-box {
    background-color: #fff;
    /* margin: 0 auto; */
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .08);
    border-radius: 3px;
    padding: 20px;
}

.gray-box {
    background-color: rgba(0, 0, 0, .08);
    border-radius: 3px;
    padding: 10px;
}

.content-wrap {
    margin: 10px 0;
}

dt.label,
.detail-table th {
    font-size: 1.2rem;
    font-weight: 700;
    color: #888;
    text-align: left;
}

.checkbox-area {
    background-color: #eee;
    padding: 4px;
    min-height: 32px;
    border-radius: 2px;
}

.checkbox-area label {
    display: inline-block;
    padding: 4px;
}

/* search-wrap */
.search-item {
    padding: 10px 0;
}

.search-item .label {
    margin-bottom: 5px;
}

.search-input {
    width: 100%;
}

.search-wrap .btn-wrap .btn:not(:last-of-type) {
    margin: 0 15px 0 0;
}

.search-wrap .btn-wrap {
    padding: 10px 5px 0;
    width: 100%;
    flex-direction: row-reverse;
}

.chihou {
    height: 32px;
    background: #cccccc;
    width: 150px
}

/* result-wrap */
.data-num {
    align-items: flex-end;
    color: #555;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
    margin-bottom: 5px;
    width: 100%;
}

.data-num dt {
    font-size: 1.6rem;
}

.data-num dd {
    font-size: 1.2rem;
    padding: 2px 5px;
}

/* detail-wrap */
.detail-table {
    width: 100%;
}

.detail-table th,
.detail-table td {
    padding: 7px 5px;
}

.detail-table th {
    width: 100px;
    white-space: nowrap;
    vertical-align: middle;
}

.detail-table td label {
    display: inline-block;
    padding: 4px;
}

.detail-wrap h3 {
    font-size: 2rem;
    font-weight: 700;
}

.detail-wrap h3 .code {
    margin-left: 5px;
}

.detail-list-wrap li {
    display: inline-block;
}

.detail-list-wrap li:not(:last-of-type):after {
    content: '、';
    margin-left: 3px;
}

.joui-sosiki-wrap.detail-list-wrap li:not(:last-of-type):after {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f054';
    font-size: 1rem;
    margin-left: 6px;
}

/* table */
.table-scroll {
    width: 100%;
    overflow: auto;
}

.table-scroll.h300 {
    max-height: 300px;
}

.acc-box {
    display: none;
}

.acc-btn {
    transition: transform, .4s;
}

.acc-btn:after {
    font-family: 'Font Awesome 5 Free';
    content: '\f078';
    font-weight: 900;
}

.acc-btn.active {
    transform: rotate(180deg);
}

.data-table {
    width: 100%;
}

.data-table tr {
    border: 1px solid #ddd;
}

.data-table th,
.data-table td {
    padding: 5px;
    vertical-align: middle;
}

.data-table thead tr {
    background-color: #666;
    text-align: left;
    color: #fff;
}

.data-table tr.total {
    background-color: #ffffff;
    color: #222;
}

.data-table tbody tr:nth-child(odd) {
    background-color: #fff;
}

.data-table tbody tr:nth-child(even) {
    background-color: #F2F5FA;
}

.data-table .data-registration select {
    margin-right: 5px;
}

.data-table.border th,
.data-table.border td {
    border-left: 1px solid #ddd;
}

.scroll-area {
    background-color: #F2F5FA;
    border: 1px solid #ddd;
    padding: 4px;
}

.word-list li {
    display: inline-block;
    line-height: 1.8;
}

.word-list li:not(:last-of-type):after {
    content: '/';
    margin: 0 2px 0 4px;
}

/*------------------------
  popup
--------------------------*/
.popup-box {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: rgba(0, 0, 0, .2);
    display: none;
}

.popup {
    position: absolute;
    left: 0;
    right: 0;
    max-width: 90%;
    min-height: 60%;
    max-height: 90%;
    background-color: #fff;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .08);
    border-radius: 3px;
    margin: 0 auto;
}

.popup-main {
    position: relative;
    /* padding:10px; */
}

.popup-inner {
    padding: 15px;
}

.popup-header {
    border-bottom: 1px solid #ddd;
}

.popup-title {
    font-size: 1.6em;
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: static;
}
/*------------------------
  responsive
--------------------------*/
@media all and (max-width: 1030px) {
    .side-wrap {
        left: -240px;
    }

    .side-wrap.active {
        left: 0
    }

    .main-content {
        padding: 20px;
    }

    .main-wrap {
        margin: 0;
    }

    .table-scroll {
    }

    /*.table-scroll .data-table{
      width: 880px;
    }*/
    .popup {
        width: 90%;
    }

    .tpopup {
        left: 0 !important;
        width: 100% !important;
    }

    .col-sm-4 {
        position: static;
    }
}

@media all and (max-width: 616px) {
    .table-scroll {
        overflow: hidden;
    }

    .tpopup {
        left: 0 !important;
        width: 100% !important;
    }
}

@media all and (max-width: 480px) {
    /* detail-table */
    .detail-table.responsive th,
    .detail-table.responsive td {
        width: 100%;
        display: block;
        padding: 0 5px
    }

    .detail-table.responsive td {
        padding-bottom: 10px;
    }

    .side-wrap {
        left: -100%;
        width: 100%;
    }

    .side-wrap.active {
        left: 0
    }

    .main-content,
    .white-box {
        padding: 10px;
    }

    .search-wrap .btn-wrap {
        flex-direction: column;
    }

    .search-wrap .btn-wrap .btn {
        margin: 0 0 10px 0;
    }

    code {
        color: #343434;
    }
}

form label.error {
    color: #ff0000;
}

tr.table_kesei_search th {
    border: 1px black solid !important;
}

tr.addSmailtable th {
    text-align: center;
}

tr.table_kesei_search td {
    border: 1px black solid !important;
}

@media (min-width: 576px) {
    .search-input-td {
        width: 17% !important;
    }
}

@media (min-width: 780px) {
    .search-input-td {
        width: 12% !important;
    }
}

