<div class="header-inner">
        <div class="header-left">
            <div class="header-trigger hover-white no-pc"><i class="icon fas fa-bars"></i></div>
        </div>
        <h1 class="logo">LDB</h1>
        <div class="header-data flex-row vertical-middle pc-only">
            <p class="user-data"><a href="top.html" class="text-light">ホーム</a></p>
           <a href="logout.html"> <button class="btn btn-link sign-out hover-white"><i class="icon fas fa-sign-out-alt"></i>ログアウト</button> </a> 
        </div>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		$('.header-trigger').click(function (e) {
        console.log(e);
        if ($('.side-wrap').hasClass('active')) {
            $('.side-wrap').removeClass('active');
            $(this).find('.icon').removeClass('fa-arrow-left').addClass('fa-bars');
        } else {
            $('.side-wrap').addClass('active');
            $(this).find('.icon').removeClass('fa-bars').addClass('fa-arrow-left');
        }
    });

	})
</script>

    
