<?php
	require_once "include/auth_utf.inc";
	require_once "include/parts_utf.inc";
	require_once "include/tlib_utf.inc";

	$conn = Get_Conn();
	$company_no = $_SESSION["company_no"];
	$staff_no = $_SESSION["staff_no"];

	$ok = "";
	if( trim($staff_no) == "FNadmin" || trim($staff_no) == "fn202" || trim($staff_no) == "fn136" ){
		$ok = "1";
	}

	$error_flg="0";

	$window_mode = " target='_blank' ";

	$disp_diagram = "1";
	$bd_mode = "";
	$info_mode = "1";
	$mail_mode = "1";
	$cont_mode = "1";
	$cust_mode = "1";
	$link_mode = "";
	$kana_mode = "";
	$contacturl="contact_goods.php";
	$cust_url = "customer";
	$target_url = "target";
	$edit_mode = "1";
	$bbs_mode = "1";
	$ido_mode = "0";
	$book_mode = "";
	$pdf_mode = "";
	$print_mode = "";
	$cust_cnt = "";
	$cust_rec = "";

	// GETパラメータ
	$kennkyuusya_code  = trim(Array_Check($_GET ,"kennkyuusya_code"));
	$sel_sosiki_code = trim(Array_Check($_POST ,"sel_sosiki_code"));
	$exec = trim(Array_Check($_POST ,"exec"));
	$disp_mode = trim(Array_Check($_POST ,"disp_mode"));

	$ke_name     = "";
	$ke_kana     = "";
	$ke_tel      = "";
	$ke_email1   = "";
	$ke_email2   = "";
	$ke_memo     = "";
	$ke_kari_flg = "";
	$ke_utime    = "";
	$ke_uname    = "";
	$ke_del_flg  = "";

	$message = "";

	if($exec){
	}

	$sql  = "select * from mt_kennkyuusya_etc ";
	$sql .= " where kennkyuusya_code = '".pg_escape_string($kennkyuusya_code)."'";
	$etc = DBSelect($sql);
	$arr = explode(' ', $etc["Data"][0]["suisen"] );
	$g = getOne("select member_group from fn_member where member_code='".$arr[0]."'");
	if( $g ){
		$arr[1] = $g." ".$arr[1];
	} else {
		$arr[1] = $arr[0]." ".$arr[1];
	}

	$sql  = "select * \n";
	$sql .= "  from mt_kennkyuusya \n";
	$sql .= " where kennkyuusya_code = '".pg_escape_string($kennkyuusya_code)."'";
	$rset = pg_query($conn,$sql);

	if($rset && pg_num_rows($rset) == 1) {
		$array = pg_fetch_assoc($rset);

		$ke_name   = Array_Check($array,"name");
		$ke_kana   = Array_Check($array,"kana");

		$ke_kari_flg   = Array_Check($array,"kari_flg");
		$ke_del_flg   = Array_Check($array,"del_flg");
		$ke_utime   = Array_Check($array,"utime");
		$upd_date = $ke_utime;
		$ke_uname   = Array_Check($array,"uname");
		if( $ke_kari_flg == "1" ){
			$ido_mode = "1";
		}
	}
	$ctime = $ke_utime;
	$resid = getOne("select col5 from kaken_kenkyuusya where kennkyuusya_code = '".pg_escape_string($kennkyuusya_code)."' limit 1");

	$sql  = "select * \n";
	$sql .= "  from kennkyuusya_yosan_sosiki \n";
	$sql .= " where kennkyuusya_code = '".pg_escape_string($kennkyuusya_code)."'";
	$rset = pg_query($conn,$sql);
	if($rset && pg_num_rows($rset) == 1) {
		$array = pg_fetch_assoc($rset);
		$master_sosiki_code = Array_Check($array,"max");
	}

	$status = "";
	if( $ke_del_flg ){
	    $status="削除済データ";
	}
	if( ! $ke_kari_flg ) { 
		$edit_mode = "";
	} else {
		if($company_no == "SAGBRAIN"){
			if( $ke_kari_flg == '1' ){
				$status = "仮登録データ";
			} else {
				$status = "会員独自データ";
			}
		} else {
			$status = "貴社登録データ";
		}
		$bbs_mode = "";
	}

	pg_query($conn, "set client_encoding=UNICODE");
	$yosan_all = 0;
	$yosan_rec = "";
	$yosan_total_year = "0";
	$sql  = "select *, to_char(now() + '-5 Years', 'yyyy') as last_year from yosan_detail where kennkyuusya_code = '${kennkyuusya_code}' ";
	$sql .= " order by yosan_year desc, seido_code, saitaku_date desc, to_number(CASE WHEN yosan <> '' THEN yosan ELSE '0' END, '9999999999999999') desc";
	$rset = pg_query($conn,$sql);
	$yosan_cnt = pg_num_rows($rset);
	if($rset) {
		$min_year = 0;
		$max_year = 0; 
		while($array = pg_fetch_assoc($rset)) {
			$seido_name = Array_Check($array,"seido_name");
			$kikan_name = Array_Check($array,"kikan_name");
			$saitaku_date = Array_Check($array,"saitaku_date");
			$last_year = Array_Check($array,"last_year");
			$yosan_year = Array_Check($array,"yosan_year");
			if( ! $min_year || $yosan_year < $min_year ){
				$min_year = $yosan_year;
			}
			if( ! $max_year || $yosan_year > $max_year ){
				$max_year = $yosan_year;
			}
			$saitaku_date = Array_Check($array,"saitaku_date");
			$yosan = Array_Check($array,"yosan");
			$yosan_disp = "";
			if( $yosan == '0' || $yosan == '' ){
				$yosan_disp = "金額不明";
			} else {
				$yosan_all += $yosan;
				$yosan_disp = number_format($yosan);
			}
			$kname = Array_Check($array,"kennkyuu_kadai_name");
			$url = Array_Check($array,"url");
			$kadai_no = Array_Check($array,"kadai_no");
			$tablemode = Array_Check($array,"tablemode");
			if( $url ){
				$kname = "<a target=_blank href='".$url."'>".$kname."</a>";
			} else {
				if( $tablemode == '1' && $kadai_no ){
					$kname = "<a target=_blank href='https://kaken.nii.ac.jp/ja/grant/KAKENHI-PROJECT-".$kadai_no."/'>".$kname."</a>";
				}
			}
			$yosan_rec .= "<tr class='list-header'>";
			$yosan_rec .= "    <td style='word-break: break-all;' align='left' valign='top'><span style='display: block;overflow: auto;'>${seido_name}</span></td>";
			$yosan_rec .= "    <td style='word-break: break-all;' align='left' valign='top'><span style='display: block;overflow: auto;'>${kikan_name}</span></td>";
			$yosan_rec .= "    <td align='center' valign='top'>${saitaku_date}</td>";
			$yosan_rec .= "    <td align='center' valign='top'>${yosan_year}</td>";
			$yosan_rec .= "    <td align='right' valign='top'>".$yosan_disp."</td>";
			$yosan_rec .= "    <td align='left' valign='top'>${kname}</td>";
			$yosan_rec .= "  </tr>";
		}
		$yosan_all = intval($yosan_all / 1000000);
		if( $min_year ){
			$yosan_total_year = $max_year - $min_year + 1;
		}
	}

	pg_query($conn, "set client_encoding=UTF-8");

	$sql = " select *, to_char(reg_date, 'yyyy/mm/dd') as rd, to_char(upd_date, 'yyyy/mm/dd') as ud, to_char(del_date, 'yyyy/mm/dd') as dd from fn_kaiin_master \n";
	$sql .= " where kennkyuusya_code = '".pg_escape_string($kennkyuusya_code)."'";
	$rset = pg_query($conn,$sql);

	if($rset){
		if($array = pg_fetch_assoc($rset)) {
			$del_flg = trim(Array_Check($array ,"del_flg"));
			$personal_code = trim(Array_Check($array ,"personal_code"));
			$reg_date = trim(Array_Check($array ,"rd"));
			$upd_date = trim(Array_Check($array ,"ud"));
			$upd_comment = trim(Array_Check($array ,"upd_comment"));
			$name = trim(Array_Check($array ,"name"));
			$kana = trim(Array_Check($array ,"kana"));
			$company = trim(Array_Check($array ,"company"));
			$unit = trim(Array_Check($array ,"unit"));
			$yakusyoku = trim(Array_Check($array ,"yakusyoku"));
			$pref = trim(Array_Check($array ,"pref"));
			$post = trim(Array_Check($array ,"post"));
			$addr1 = trim(Array_Check($array ,"addr1"));
			$addr2 = trim(Array_Check($array ,"addr2"));
			$tel = trim(Array_Check($array ,"tel"));
			$naisen = trim(Array_Check($array ,"naisen"));
			$fax = trim(Array_Check($array ,"fax"));
			$mail = trim(Array_Check($array ,"mail"));
			$shop1 = trim(Array_Check($array ,"shop1"));
			$shop2 = trim(Array_Check($array ,"shop2"));
			$comp_flg = trim(Array_Check($array ,"comp_flg"));
			$dairi_flg = trim(Array_Check($array ,"dairi_flg"));
			$flyer_flg = trim(Array_Check($array ,"flyer_flg"));
			$funa_news = trim(Array_Check($array ,"funa_news"));
			$other_news = trim(Array_Check($array ,"other_news"));
			$siyaku_news = trim(Array_Check($array ,"siyaku_news"));
			$kiki_news = trim(Array_Check($array ,"kiki_news"));
			$mail_flg = trim(Array_Check($array ,"mail_flg"));
			$reg_comment = trim(Array_Check($array ,"reg_comment"));
			$memo = trim(Array_Check($array ,"memo"));
			$del_date = trim(Array_Check($array ,"dd"));
			$del_comment = trim(Array_Check($array ,"del_comment"));
			$del_irai = trim(Array_Check($array ,"del_irai"));
			$upd_message = trim(Array_Check($array ,"upd_message"));
			$upd_tantou = trim(Array_Check($array ,"upd_tantou"));
			$tool = trim(Array_Check($array ,"tool"));
			$irai_name = trim(Array_Check($array ,"irai_name"));
			$p_post = trim(Array_Check($array ,"p_post"));
			$p_pref = trim(Array_Check($array ,"p_pref"));
			$p_addr1 = trim(Array_Check($array ,"p_addr1"));
			$p_addr2 = trim(Array_Check($array ,"p_addr2"));
			$p_tel = trim(Array_Check($array ,"p_tel"));
			$p_fax = trim(Array_Check($array ,"p_fax"));
			$p_naisen = trim(Array_Check($array ,"p_naisen"));
			$sisetu = trim(Array_Check($array ,"sisetu"));
			$nick_name = trim(Array_Check($array ,"nick_name"));
			$web_status = trim(Array_Check($array ,"web_status"));
			$p_status = trim(Array_Check($array ,"p_status"));
			$p_code = trim(Array_Check($array ,"p_code"));
			$i = 0;
			$col1 = trim(Array_Check($array ,"col1"));$col[$i++]= $col1;
			$col2 = trim(Array_Check($array ,"col2"));$col[$i++]= $col2;
			$col3 = trim(Array_Check($array ,"col3"));$col[$i++]= $col3;
			$col4 = trim(Array_Check($array ,"col4"));$col[$i++]= $col4;
			$col5 = trim(Array_Check($array ,"col5"));$col[$i++]= $col5;
			$col6 = trim(Array_Check($array ,"col6"));$col[$i++]= $col6;
			$col7 = trim(Array_Check($array ,"col7"));$col[$i++]= $col7;
			$col8 = trim(Array_Check($array ,"col8"));$col[$i++]= $col8;
			$col9 = trim(Array_Check($array ,"col9"));$col[$i++]= $col9;
			$col10 = trim(Array_Check($array ,"col10"));$col[$i++]= $col10;
			$col11 = trim(Array_Check($array ,"col11"));$col[$i++]= $col11;
			$col12 = trim(Array_Check($array ,"col12"));$col[$i++]= $col12;
			$col13 = trim(Array_Check($array ,"col13"));$col[$i++]= $col13;
			$col14 = trim(Array_Check($array ,"col14"));$col[$i++]= $col14;
			$col15 = trim(Array_Check($array ,"col15"));$col[$i++]= $col15;
			$col16 = trim(Array_Check($array ,"col16"));$col[$i++]= $col16;
			$col17 = trim(Array_Check($array ,"col17"));$col[$i++]= $col17;
			$col18 = trim(Array_Check($array ,"col18"));$col[$i++]= $col18;
			$col19 = trim(Array_Check($array ,"col19"));$col[$i++]= $col19;
			$col20 = trim(Array_Check($array ,"col20"));$col[$i++]= $col20;
			$col21 = trim(Array_Check($array ,"col21"));$col[$i++]= $col21;
			$col22 = trim(Array_Check($array ,"col22"));$col[$i++]= $col22;
			$col23 = trim(Array_Check($array ,"col23"));$col[$i++]= $col23;
			$col24 = trim(Array_Check($array ,"col24"));$col[$i++]= $col24;
			$col25 = trim(Array_Check($array ,"col25"));$col[$i++]= $col25;
			$col26 = trim(Array_Check($array ,"col26"));$col[$i++]= $col26;
			$col27 = trim(Array_Check($array ,"col27"));$col[$i++]= $col27;
			$col28 = trim(Array_Check($array ,"col28"));$col[$i++]= $col28;
			$other_col = trim(Array_Check($array ,"other_col"));
			$maker_col = trim(Array_Check($array ,"maker_col"));
			$sosiki_code = trim(Array_Check($array ,"sosiki_code"));
			$other_keyword = trim(Array_Check($array ,"other_keyword"));
			$other_maker = trim(Array_Check($array ,"other_maker"));
		}
	}

	$sql = "select * from kenkyu_bunya where company_no is null or company_no ='".$company_no."'";
	$DBData = DBSelect($sql);
	$bunya_count = $DBData["Count"];
	$bunya_ary = $DBData["Data"];
	$td = 0;
	$bunya_rec = '<div class="col-sm-4 px-0 col-6">';
	for ($i=0; $i<$bunya_count; $i++) {
		if( $td == 2 ){
			$bunya_rec .= '</div><div class="col-sm-4 px-0 col-6">';
			$td = 0;
		}
		$chk = "";
		if( $col[$i] ){
			$chk = "checked";
		}
		$bunya_rec .= '<label for="col'.($i+1).'"><input id="col'.($i+1).'" name="col'.($i+1).'" type="checkbox" value="1" '.$chk.'>'.trim($bunya_ary[$i]["title"]).'</label>';
		$td ++;
	}
	$bunya_rec .= "</div>";

    $title = "研究者情報";
	if( ! $upd_date ){
		$upd_date = date("Y/m/d");
	}
?>
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ラボラトリ・データベース | LDB</title>
    <link rel="shortcut icon" href="img/favicon.ico">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1/i18n/jquery.ui.datepicker-ja.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/redmond/jquery-ui.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.bundle.min.js"></script>
    <script src="js/script.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $('#datepickerstart').datepicker();
            $('#datepickerend').datepicker();
        });
    </script>

    <script type="text/javascript">
        <!--
        function dispCustomer() {
            var iframe = parent.document.getElementById("custpopup");
            iframe.src = "customer.php?kennkyuusya_code=FN500217&code=";
            iframe.style.top = document.documentElement.scrollTop;
            iframe.style.left = document.documentElement.scrollLeft;
            iframe.style.display = '';
        }
        function menu_search_one_mitsumori(seq) {
            var iframe = parent.document.getElementById("tpopup");
            iframe.width = "920";
            iframe.height = "850";
            iframe.src = "syodan_mitsumori.html";
            iframe.style.display = '';
        }
        function menu_search_one_bulk(seq) {
            var iframe = parent.document.getElementById("tpopup");
            iframe.width = "920";
            iframe.height = "850";
            iframe.src = "syodan_bulk.html" + seq;
            iframe.style.display = '';
        }
        function menu_search_one_mitsu(seq) {
            var iframe = parent.document.getElementById("tpopup");
            iframe.width = "920";
            iframe.height = "850";
            iframe.src = "syodan_mitsu.html";
            iframe.style.display = '';
        }
        function menu_search_one_sample(seq) {
            var iframe = parent.document.getElementById("tpopup");
            iframe.width = "920";
            iframe.height = "850";
            iframe.src = "syodan_sample.html";
            iframe.style.display = '';
        }
        function menu_search_one_jyutaku(seq) {
            var iframe = parent.document.getElementById("tpopup");
            iframe.width = "920";
            iframe.height = "850";
            iframe.src = "syodan_hikiai2.php?sosiki_code=&mode=one&ltype=1&seq=" + seq;
            iframe.style.display = '';
        }
        function menu_search_one_hiki(seq) {
            var iframe = parent.document.getElementById("tpopup");
            iframe.width = "920";
            iframe.height = "850";
            iframe.src = "syodan_hikiai.html";
            iframe.style.display = '';
        }
        function menu_search_one_kesei(seq) {
            var iframe = parent.document.getElementById("tpopup");
            iframe.width = "920";
            iframe.height = "850";
            iframe.src = "syodan_kesei.html";
            iframe.style.display = '';
        }

        function dispOneCustomer(cd) {
            var iframe = parent.document.getElementById("custpopup");
            iframe.src = "customer.php?seq=" + cd;
            iframe.style.top = document.documentElement.scrollTop;
            iframe.style.left = document.documentElement.scrollLeft;
            iframe.style.display = '';
        }

        function dispContact() {
            var iframe = parent.document.getElementById("contpopup");
            iframe.src = "contact_goods.php?kennkyuusya_code=FN500217&code=";
            iframe.style.top = document.documentElement.scrollTop;
            iframe.style.left = document.documentElement.scrollLeft;
            iframe.style.display = '';
        }

        function dispOneContact(cd) {
            var iframe = parent.document.getElementById("contpopup");
            iframe.src = "contact_goods.php?seq=" + cd;
            iframe.style.top = document.documentElement.scrollTop;
            iframe.style.left = document.documentElement.scrollLeft;
            iframe.style.display = '';
        }

        function bookMark() {
            var iframe = parent.document.getElementById("bookpopup");
            iframe.src = "bookmark.php?code=FN500217";
            iframe.style.display = '';
        }

        function idoMark(code) {
            var iframe = parent.document.getElementById("idopopup");
            iframe.src = "ido.html?kennkyuusya_code=FN500217&sosiki_code=" + code;
            iframe.style.display = '';
        }

        function bbsMark() {
            var iframe = parent.document.getElementById("bbspopup");
            iframe.src = "bbs/detail.html?code=<?=$kennkyuusya_code?>";
            iframe.style.display = '';
        }

        function kankeiMark() {
            // document.main = "BBSWin";
            var iframe = parent.document.getElementById("bookpopup");
            iframe.src = "kankei.html?kennkyuusya_code=<?=$kennkyuusya_code?>";
            iframe.style.display = '';
        }

        function menu_search_one_zouki(seq) {
        var iframe = parent.document.getElementById("tpopup");
        iframe.width = "920";
        iframe.height = "850";
        iframe.src = "syodan_zouki.html";
        iframe.style.display = '';
    }

        //-->

function setZip(obj1, obj2, obj3, obj4) {
    var iframe = parent.document.getElementById("msgpopup");
    prm = "?post_code="+obj1.value;
    iframe.src = "selPostCode.html"+prm;

	iframe.onload = function(){
	    if( obj2 ){
			obj2.value  = z7.value;
	    }
	    obj3.value  = z7.value+z8.value+z9.value;
	}
}
function setMenu(val){
    var obj1 = document.getElementById("nav-home");
    var obj2 = document.getElementById("nav-profile");
    var mode = document.getElementById("disp_mode");
    if( val == "1" ){
	mode.value = "1"; 
	obj1.style.display = "none";
	obj2.style.display = "";
    } else {
	mode.value = "0"; 
	obj1.style.display = "";
	obj2.style.display = "none";
    }    
}
    </script>


</head>
<body>
<iframe id="idopopup" name="idopopup" width="600" height="520" frameborder="0" class="tpopup" style="display:none;left:35%;top:200px;border:8px #ffcccc ridge;z-index:1; position:fixed"></iframe>
<iframe id="bookpopup" name="bookpopup" width="600" height="500" frameborder="0" class="tpopup" style="display:none;left:35%;top:200px;border:4px #ffcccc ridge;z-index:1; position:fixed;"></iframe>
<iframe id="bbspopup" name="bbspopup" width="600" height="630" frameborder="0" class="tpopup" style="display:none;left:35%;top:70px;border:8px #ffcccc ridge;z-index:1; position:fixed"></iframe>
<iframe id="tpopup" name="tpopup" width="920" height="850" frameborder="0" class="tpopup" style="display:none;left:25%;top:70px;border:8px #ffcccc ridge;z-index:1;position:fixed;" scrolling="auto"></iframe>
<iframe id="msgpopup" name="msgpopup" width="200" height="200" frameborder="0" class="tpopup" style="display:none;left:35%;top:70px;border:8px #ffcccc ridge;z-index:1;position:fixed"></iframe>

<input type="hidden" name="z3" id="z3">
<input type="hidden" name="z4" id="z4">
<input type="hidden" name="z5" id="z5">
<input type="hidden" name="z6" id="z6">
<input type="hidden" name="z7" id="z7">
<input type="hidden" name="z8" id="z8">
<input type="hidden" name="z9" id="z9">

<header class="header">
    <div class="header-inner">
	<div class="header-left">
	    <div class="header-trigger hover-white no-pc"><i class="icon fas fa-bars"></i></div>
	</div>
	<h1 class="logo">LDB</h1>
	<div class="header-data flex-row vertical-middle pc-only">
	    <p class="user-data"><a href="top.html" class="text-light">ホーム</a></p>
	    <button class="btn btn-link sign-out hover-white"><i class="icon fas fa-sign-out-alt"></i>ログアウト</button>
	</div>
    </div>
</header>
<div class="wrapper">
    <div class="side-wrap" id="side-wrap">
	<script>
	    $("#side-wrap").load("menu_navigation.html");
	</script>
	<div class="nav-data no-pc">
	    <p class="user-data"><a href="top.html">ホーム</a></p>
	    <button class="sign-out btn btn-link"><i class="fas fa-sign-out-alt"></i>ログアウト</button>
	</div>
    </div>
    <div class="main-wrap">
	<div class="main-content">
        <h2 class="content-title">研究者詳細情報</h2>
            <!-- 研究者詳細情報 -->
            <div class="content-wrap detail-wrap white-box">
                <table class="detail-table responsive">
                    <tr>
                        <th>研究者名</th>
                        <td>
                            <h3>
                                <div class="float-left"><?=$ke_name?><span class="code">(<?=$kennkyuusya_code?>)</span>
<?php if( $edit_mode ){ ?>
				    <button type="button" class="s-btn btn-gray" data-toggle="modal" data-target="#exampleModal">
				    修正
				    </button>
<?php } ?>
								</div>
<?php if( ! $edit_mode ){ ?>
				<div class="float-right">
				    <input style="font-size:10pt" type="button" onclick="JavaScript:bbsMark()" value="修正依頼">
				</div>
<?php } ?>
                            </h3>
                    </tr>
                    <tr>
                        <th>状態</th>
                        <td><?=$status?></td>
                    </tr>
                    <tr>
                        <th>Resolver外部リンク</th>
                        <td><a target="_blank" href="http://rns.nii.ac.jp/d/nr/<?=$resid?>">http://rns.nii.ac.jp/d/nr/<?=$resid?></a></td>
                    </tr>
                    <tr>
                        <th>関係性</th>
                        <td>
                            <button type="button" class="s-btn btn-gray" onclick="JavaScript:kankeiMark()">
                                修正
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <th>推薦人</th>
                        <td><?=$arr[1]?></td>
                    </tr>
                    <tr>
                        <th>関係</th>
                        <td><?=$etc["Data"][0]["kankei"]?></td>
                    </tr>
                    <tr>
                        <th>フナコシファン度</th>
                        <td><?=$etc["Data"][0]["funakoshi_fan"]?></td>
                    </tr>
                    <tr>
                        <th>名前を出すだけでわかる</th>
                        <td><?=$etc["Data"][0]["acquainted"]?></td>
                    </tr>
                    <tr>
                        <th>備考</th>
                        <td><?=$etc["Data"][0]["bikou"]?></td>
                    </tr>
                </table>
            </div>
            <!-- LDB　-->
            <div class="ldb-data">

<!--
                <nav>

                    <div class="nav nav-tabs border-0" id="nav-tab" role="tablist">
                        <a class="nav-item border-0 nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true" style="background: #88FF88; margin: 5px 10px 5px 0px">フナコシ</a>
                        <a class="nav-item nav-link border-0" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false" style="margin: 5px 0px">LDB</a>
                    </div>
                </nav>
-->
<style>
.base-table tr td{
    height:30px;
    padding-top:0px;
    padding-bottom:0px;
}
li  {float:left;display:block;margin:5px;}
.on  {
    background-color:#88FF88;
    width:100px;
    margin-right:5px;
    text-align:center;
}
.off {
    background-color:#DDDDDD;
    width:100px;
    margin-right:5px;
    text-align:center;
}
.funakoshi_box {
     margin: 0px;
     clear:both;
     border-top:solid 10px #88FF88;
     border-bottom:solid 1px #88FF88;
     border-left:solid 1px #88FF88;
     border-right:solid 1px #88FF88;
}
.ldb_box {
     clear:both;
     border-top:solid 10px #DDDDDD;
     border-bottom:solid 1px #DDDDDD;
     border-left:solid 1px #DDDDDD;
     border-right:solid 1px #DDDDDD;
}

</style>
<ul style="margin:0px;padding:0px">
<li id="li_funakoshi" class="on"><a href="Javascript:setMenu(0)">フナコシ</a></li>
<li id="li_ldb" class="off"><a href="Javascript:setMenu(1)">LDB</a></li>
</ul>
<br>
                <div class="tab-content" id="nav-tabContent">
<form name="frm" method="POST">
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" style="background: white; border: 1px solid #88FF88; border-top: 10px solid #88FF88">
                            <table class="detail-table responsive">
                                <tr>
                                    <td class="search-item">
                                        <p class="label">個人コード</p>
										<input readonly type="text" name="personal_code" value="<?=($personal_code) ? htmlspecialchars($personal_code,ENT_QUOTES) : "自動採番"?>">
                                    </td>
                                    <td class="search-item">
                                        <p class="label">登録日</p>
                                        <input type="text" class="search-input" name="reg_date" value="<?=htmlspecialchars($reg_date,ENT_QUOTES)?>">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="search-item" colspan="2">
                                        <p class="label">WEB会員 <input type="checkbox" name="web_status" value="WEB" <?=($web_status) ? "checked" : ""?>></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="search-item">
                                        <p class="label">氏名</p>
                                        <input class="search-input" type="text" name="ke_name" value="<?=htmlspecialchars($name,ENT_QUOTES)?>">
                                    </td>
                                    <td class="search-item">
                                        <p class="label">フリガナ</p>
                                        <input class="search-input" type="text" name="kana" value="<?=htmlspecialchars($kana,ENT_QUOTES)?>">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="search-item">
                                        <p class="label">LDB研究者コード</p>
                                        <input class="search-input" type="text" name="kennkyuusya_code" value="<?=htmlspecialchars($kennkyuusya_code,ENT_QUOTES)?>">
                                    </td>
                                    <td class="search-item">
                                        <p class="label">勤務先名</p>
                                        <input class="search-input" type="text" name="company" value="<?=$company?>">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="search-item">
                                        <p class="label">所属部署</p>
                                        <input class="search-input" type="text" name="unit" value="<?=$unit?>">
                                    </td>
                                    <td class="search-item" style="vertical-align: bottom">
                                        <p class="label">企業 <input type="checkbox" name="comp_flg" value="1" <?=($comp_flg) ? "checked" : ""?>></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="search-item">
                                        <p class="label">LDB組織コード</p>
                                        <input class="search-input" type="text" name="sosiki_code" value="<?=$sosiki_code?>">
                                    </td>
                                    <td class="search-item">
                                        <p class="label">職位</p>
                                        <input class="search-input" type="text" name="yakusyoku" value="<?=$yakusyoku?>">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="search-item checkbox-area" colspan="2">
                                        <div class="search-input row ml-0">
<?=$bunya_rec?>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="search-item" colspan="2">
                                        <p class="label">〒</p>
                                        <div class="search-input">
                                            <input type="text" name="post" class="float-left mr-3" value="<?=$post?>" >
                                            <input type="button" value="検索" onclick="setZip(document.frm.post, document.frm.pref, document.frm.addr1, document.frm.addr2)">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="search-item" colspan="2">
                                        <p class="label">都道府県</p>
                                        <select class="search-input" id="pref" name="pref">
<option value=''>選択してください</option><?=Select_Option_pref("mt_pref", "pref_code", "pref_name", $pref)?>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="search-item">
                                        <p class="label">住所１</p>
                                        <input class="search-input" name="addr1" type="text" value="<?=$addr1?>">
                                    </td>
                                    <td class="search-item">
                                        <p class="label">住所２</p>
                                        <input class="search-input" name="addr2" type="text" value="<?=$addr2?>">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="search-item">
                                        <p class="label">TEL</p>
                                        <input class="search-input" name="tel" type="text" value="<?=$tel?>">
                                    </td>
                                    <td class="search-item">
                                        <p class="label">内線</p>
                                        <input class="search-input" name="naisen" type="text" value="<?=$naisen?>">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="search-item">
                                        <p class="label">FAX</p>
                                        <input class="search-input" name="fax" type="text" value="<?=$fax?>">
                                    </td>
                                    <td class="search-item">
                                        <p class="label">E-mail</p>
                                        <input class="search-input" name="mail" type="text" value="<?=$mail?>">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="search-item">
                                        <p class="label">販売店１</p>
                                        <input class="search-input" name="shop1" type="text" value="<?=$shop1?>">
                                    </td>
                                    <td class="search-item">
                                        <p class="label">販売店２</p>
                                        <input class="search-input" name="shop2" type="text" value="<?=$shop2?>">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="search-item" colspan="2">
                                        <p class="label">送付先</p>
                                        <div class="search-input checkbox-area">
                                            <label><input type="radio" name="p_status" value="1" <?=($p_status == "1") ? "checked" : ""?>>登録</label>
                                            <label><input type="radio" name="p_status" value="2" <?=($p_status == "2") ? "checked" : ""?>>送付用</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="search-item">
                                        <p class="label">その他キーワード</p>
                                        <textarea class="search-input" name="other_keyword"
                                                  style="height: 60px;"><?=$other_keyword?></textarea>
                                    </td>
                                    <td class="search-item">
                                        <p class="label">メーカー興味</p>
                                        <textarea class="search-input" name="other_maker"
                                                  style="height: 60px;"><?=$other_maker?></textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="search-item" colspan="2">
                                        <p class="label">送付〒</p>
                                        <div class="search-input">
                                            <input type="text" name="p_post" class="float-left mr-3" value="<?=$p_post?>">
                                            <input type="button" value="検索" onclick="setZip(document.frm.p_post, document.frm.p_pref, document.frm.p_addr1, document.frm.p_addr2)">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="search-item" colspan="2">
                                        <p class="label">都道府県</p>
                                        <select class="search-input" id="p_pref" name="p_pref">
<option value=''>選択してください</option><?=Select_Option_pref("mt_pref", "pref_code", "pref_name", $p_pref)?>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="search-item">
                                        <p class="label">送付住所１</p>
                                        <input class="search-input" name="p_addr1" type="text" value="<?=$p_addr1?>">
                                    </td>
                                    <td class="search-item">
                                        <p class="label">送付住所２</p>
                                        <input class="search-input" name="p_addr2" type="text" value="<?=$p_addr2?>">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="search-item">
                                        <p class="label">送付TEL</p>
                                        <input class="search-input" name="p_tel" type="text" value="<?=$p_tel?>">
                                    </td>
                                    <td class="search-item">
                                        <p class="label">内線</p>
                                        <input class="search-input" name="p_naisen" type="text" value="<?=$p_naisen?>">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="search-item">
                                        <p class="label">送付FAX</p>
                                        <input class="search-input" name="p_fax" type="text" value="<?=$p_fax?>">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="search-item" colspan="2">
                                        <p class="label">登録内容</p>
                                        <div class="search-input checkbox-area">
                                            <label for="funa_news"><input type="checkbox" name="funa_news" value="1" <?=($funa_news) ? "checked" : ""?> id="funa_news">ニュース発送フラグ </label>
                                            <label for="mail_flg"><input type="checkbox" name="mail_flg" id="mail_flg" value="1" <?=($mail_flg) ? "checked" : ""?>>メール </label>
                                            <label for="dairi_flg"><input type="checkbox" name="dairi_flg" value="1" <?=($dairi_flg) ? "checked" : ""?> id="dairi_flg">販売店担当者 </label>
                                            <label for="flyer_flg"><input type="checkbox" name="flyer_flg" value="1" <?=($flyer_flg) ? "checked" : ""?> id="flyer_flg">広告可 </label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="search-item" colspan="2">
                                        <p class="label">登録理由</p>
                                        <select id="reg_comment" name="reg_comment" class="search-input">
                                            <option value=""></option>
                                            <option value="学会">学会</option>
                                            <option value="HP">HP</option>
                                            <option value="メール">メール</option>
                                            <option value="モニター">モニター</option>
                                            <option value="カタログ請求">カタログ請求</option>
                                            <option value="セールスリード">セールスリード</option>
                                            <option value="営業">営業</option>
                                            <option value="機器">機器</option>
                                            <option value="遺伝子部">遺伝子部</option>
                                            <option value="免疫部">免疫部</option>
                                            <option value="生化学部">生化学部</option>
                                            <option value="その他">その他</option>
                                        </select><?if($reg_comment){?><script>objid=document.getElementById("reg_comment");objid.value='<?=$reg_comment?>';</script><?}?>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="search-item">
                                        <p class="label">削除日</p>
                                        <input class="search-input" type="text" name="del_date"  value="<?=$del_date?>" <?=(! $del_flg) ? "disabled='disabled' style='background-color:#BBBBBB'" : " style='background-color:FFFFFF'"?>>
                                    </td>
                                    <td class="search-item" style="vertical-align: bottom">
                                        <div class="search-input checkbox-area">
                                            <label for="del_flg"><input type="checkbox" onclick="delSet()" value="1" <?=($del_flg) ? "checked" : ""?>
                                                                        name="del_flg" id="del_flg">削除</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="search-item">
                                        <p class="label">削除理由</p>
                                        <select class="search-input" id="del_comment" name="del_comment">
                                            <option value=""></option>
                                            <option value="退勤・卒業">退勤・卒業</option>
                                            <option value="異動">異動</option>
                                            <option value="依頼">依頼</option>
                                            <option value="不明">不明</option>
                                            <option value="重複">重複</option>
                                            <option value="その他">その他</option>
                                        </select><?if($del_comment){?><script>objid=document.getElementById("del_comment");objid.value='<?=$del_comment?>';</script><?}?>
                                    </td>
                                    <td class="search-item">
                                        <p class="label">依頼ツール</p>
                                        <select class="search-input" id="del_irai" name="del_irai">
                                            <option value=""></option>
                                            <option value="宛名台紙">宛名台紙</option>
                                            <option value="メール">メール</option>
                                            <option value="ホームページ">ホームページ</option>
                                            <option value="営業">営業</option>
                                            <option value="試薬">試薬</option>
                                            <option value="FAX">FAX</option>
                                            <option value="不着データ">不着データ</option>
                                            <option value="その他">その他</option>
                                        </select><?if($del_irai){?><script>objid=document.getElementById("del_irai");objid.value='<?=$del_irai?>';</script><?}?>
                                    </td>
                                </tr>
                                <tr><td class="search-item">
                                    <p class="label">備考</p>
                                    <textarea class="search-input" name="memo" style="height: 60px;"><?=$memo?></textarea>
                                </td>
                                    <td class="search-item">
                                        <p class="label">更新内容の備考</p>
                                        <textarea class="search-input" style="height: 60px;"><?=$upd_message?></textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="search-item">
                                        <p class="label">最終更新日</p>
                                        <input class="search-input" type="text" name="upd_date" value="<?=$upd_date?>" >
                                    </td>
                                    <td class="search-item">
                                        <p class="label">更新内容</p>
                                        <select class="search-input" id="upd_comment" name="upd_comment">
                                            <option value=""></option>
                                            <option value="異動・変更">異動・変更</option>
                                            <option value="修正・追加">修正・追加</option>
                                            <option value="カタログ">カタログ</option>
                                            <option value="モニター">モニター</option>
                                            <option value="その他">その他</option>
                                        </select><?if($upd_comment){?><script>objid=document.getElementById("upd_comment");objid.value='<?=$upd_comment?>';</script><?}?>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="search-item">
                                        <p class="label">ツール</p>
                                        <select id="tool" name="tool" class="search-input">
                                            <option value=""></option>
                                            <option value="学会／セミナー">学会／セミナー</option>
                                            <option value="HP">HP</option>
                                            <option value="メール">メール</option>
                                            <option value="宛名台紙">宛名台紙</option>
                                            <option value="メールエラー">メールエラー</option>
                                            <option value="カタログ請求">カタログ請求</option>
                                            <option value="FAX">FAX</option>
                                            <option value="遺伝子部">遺伝子部</option>
                                            <option value="免疫部">免疫部</option>
                                            <option value="生化学部">生化学部</option>
                                        </select><?if($tool){?><script>objid=document.getElementById("tool");objid.value='<?=$tool?>';</script><?}?>
                                    </td>
                                    <td class="search-item">
                                        <p class="label">更新者</p>
                                        <input class="search-input" type="text" name="upd_tantou" value="<?=$upd_tantou?>">
                                    </td>
                                </tr>
                            </table>
<?php if( $ok ){ ?>
                            <div class="btn-wrap flex-row-responsive space-between">
                                <div class="flex-item align-right w-100">
                                    <button class="btn btn-blue m-2" name="exec" type="submit">登録</button>
                                </div>
                            </div>
<?    } ?>

                    </div>
<?
	$kennkyuusya_sosiki = array();
	$sosiki_all_code = "";
	$sql  = "select sosiki_code, yakusyoku, rininbi";
	$sql .= "  from mt_kennkyuusya_sosiki";
	$sql .= " where kennkyuusya_code = '".$kennkyuusya_code."' ";
//	$sql .= " and (rininbi = '' or rininbi is null)";
	if ($_SESSION["kengen"]=="9") {
	// 全仮登録データを検索可能
	} else {
		if($_SESSION["company_id"]){
			$sql .= " and (kari_flg=0 or kari_flg is null or kennkyuusya_sosiki_code like '".$_SESSION["company_id"]."%') ";
		} else {
			$sql .= " and (kari_flg=0 or kari_flg is null) ";
		}
		$sql .= " and del_flg=0 ";
	}
	$rset = pg_query($conn,$sql);
	if($rset) {
		while($array = pg_fetch_assoc($rset)) {
			$kennkyuusya_sosiki[Array_Check($array,"sosiki_code")] = Array_Check($array,"yakusyoku");
			$kennkyuusya_sosiki_rinin[Array_Check($array,"sosiki_code")] = Array_Check($array,"rininbi");
			if( $sosiki_all_code ){
				$sosiki_all_code .= ",";
			}
			$sosiki_all_code .= "'".Array_Check($array,"sosiki_code")."'";
		}
	}
//error_log($sql);
	$sql  = "select kk.kikan_code, kk.kikan_name, ss.sosiki_code, kk.area_code, ss.del_flg as sosiki_del_flg";
	$sql .= "  from mt_kikan kk, mt_sosiki ss";
	$sql .= " where ss.sosiki_code in (".$sosiki_all_code.") ";
	$sql .= " and kk.kikan_code = ss.kikan_code ";
	if ($_SESSION["kengen"]=="9") {
	// 全仮登録データを検索可能
//		$sql .= " and ss.del_flg=0 ";
	} else {
		if($_SESSION["company_id"]){
			$sql .= " and (ss.kari_flg=0 or ss.kari_flg is null or ss.sosiki_code like '".$_SESSION["company_id"]."%') ";
			$sql .= " and (kk.kari_flg=0 or kk.kari_flg is null or kk.kikan_code like '".$_SESSION["company_id"]."%') ";
		} else {
			$sql .= " and (ss.kari_flg=0 or ss.kari_flg is null) ";
			$sql .= " and (kk.kari_flg=0 or kk.kari_flg is null) ";
		}
		$sql .= " and kk.del_flg=0 ";
	}
	$sql .= "  order by kk.area_code, kk.kikan_code, ss.sosiki_code";
	$rset = pg_query($conn,$sql);
	$rset_count = pg_num_rows($rset);
?>

</form>
                    <div class="tab-pane fade show active" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
<form name="frm1" method="POST">
<input type="hidden" name="disp_mode" id="disp_mode" value="<?=$disp_mode?>">
<input type="hidden" name="kennkyuusya_code" value="<?=$kennkyuusya_code?>">
                        <!-- 所属組織　-->
                        <div class="content-wrap white-box">
                            <dl class="data-num flex-row">
                                <dt>所属組織</dt>
                                <dd>（ <span class="bold"><?=$rset_count?></span>件 ）</dd>
                            </dl>
                            <div class="table-scroll h300">
                                <table class="data-table border">
                                    <thead>
                                    <tr>
                                        <th>異動</th>
                                        <th>顧客情報</th>
                                        <th>機関</th>
                                        <th>組織</th>
                                        <th>役職</th>
                                    </tr>
                                    </thead>
                                    <tbody>
<?
	$cont_disp = "";
	if($rset) {
		while($array = pg_fetch_assoc($rset)) {
			$kikan_code = Array_Check($array,"kikan_code");
			$kikan_name = Array_Check($array,"kikan_name");
			$sosiki_code = Array_Check($array,"sosiki_code");
			$sosiki_kari_flg = Array_Check($array,"sosiki_kari_flg");
			$sosiki_del_flg = Array_Check($array,"sosiki_del_flg");
			$kennkyuusya_sosiki_kari_flg = Array_Check($array,"kennkyuusya_sosiki_kari_flg");
			$kennkyuusya_sosiki_del_flg = Array_Check($array,"kennkyuusya_sosiki_del_flg");
			$color = "";
			 if( $sosiki_kari_flg || $kennkyuusya_sosiki_kari_flg ){
				$color ="style='background-color:#BBDDBB'";
			}
			$delmsg = "";
			if( $sosiki_del_flg || $kennkyuusya_sosiki_del_flg ){
				$color ="style='background-color:#DDDDDD'";
				$delmsg = "<font color='red'>（無効）</font>";
			}
			$togo = "";
			if( $sosiki_del_flg == "3" ){
				$togo = "<font color='red'>（統合済）</font>";
			}

			if($sosiki_code == $sel_sosiki_code){
				$cont_disp = "1";
				$sosiki_check = "checked"; 
			} else {
				$sosiki_check = ""; 
			}

			$tag_sosiki_code = Array_Check($array,"sosiki_code");
			$sql = "select all_sosiki_name('${tag_sosiki_code}') as sosiki_name, all_sosiki_name_only('${tag_sosiki_code}') as sosiki_name_only ";
			$rs = pg_query($conn,$sql);
			if($rs) {
				if($ar = pg_fetch_assoc($rs)) {
					$sosiki_name_only = Array_Check($ar,"sosiki_name_only");
					$sosiki_name = Array_Check($ar,"sosiki_name");
				}
			}
			$yakusyoku = $kennkyuusya_sosiki[$sosiki_code];
			$rinin = "";
			if( $kennkyuusya_sosiki_rinin[$sosiki_code] ){
				$rinin = "<font color='red'>（離任）</font>";
			}
?>
                                    <tr>
                                        <td class="align-center"><button class="s-btn btn-gray" onClick="idoMark('<?=$sosiki_code?>')">異動</button></td>
                                        <td class="align-center"><input type="checkbox" name="sel_sosiki_code" value="<?=$sosiki_code?>" <?=$sosiki_check?> onClick="document.frm1.submit()"></td>
                                        <td><a href="kikan-detail.html?kikan_code=<?=$kikan_code?>"><?=htmlspecialchars($kikan_name ,ENT_QUOTES)?></a></td>
                                        <td><a href="sosiki-detail.html?sosiki_code=<?=$sosiki_code?>"><?=htmlspecialchars($sosiki_name_only ,ENT_QUOTES)?></a></td>
                                        <td><?=htmlspecialchars($yakusyoku ,ENT_QUOTES)?><?=$rinin?></td>
                                    </tr>
<?
		}
	}
?>
                                    </tbody>
                                </table>
                            </div>
                        </div>
</form>
                        <!-- 競争的資金 -->

<?php
	$cont_rec = "";
	$sql  = "select * from contact ";
	$sql .= " where kennkyuusya_code = '${kennkyuusya_code}'";
	$sql .= " and sosiki_code = '${sel_sosiki_code}'";
	$sql .= " and company_no = '${company_no}'";
	$sql .= " order by regdate desc, utime desc";
	$rset = pg_query($conn,$sql);
	$cont_cnt = pg_num_rows($rset);

	if($rset) {
		while($array = pg_fetch_assoc($rset)) {
			$seq = Array_Check($array,"seq");
			$regdate = Array_Check($array,"regdate");
			$member_name = Array_Check($array,"member_name");
			$member_group = Array_Check($array,"member_group");
			$goods_group = Array_Check($array,"goods_group");
			$goods_name = Array_Check($array,"goods_name");
			$goods_group1 = Array_Check($array,"goods_group1");
			$goods_name1 = Array_Check($array,"goods_name1");
			$goods_group2 = Array_Check($array,"goods_group2");
			$goods_name2 = Array_Check($array,"goods_name2");
			$goods_group3 = Array_Check($array,"goods_group3");
			$goods_name3 = Array_Check($array,"goods_name3");
			$goods_group4 = Array_Check($array,"goods_group4");
			$goods_name4 = Array_Check($array,"goods_name4");
			$comment = Array_Check($array,"comment");
			$status = Array_Check($array,"status");
			$color = "";
			$cont_rec .= "<tr>";
			$cont_rec .= "<td><a href='JavaScript:void(0)' onclick=\"dispOneContact('".$seq."')\">${regdate}</a>";
			$cont_rec .= "</td>";
			$cont_rec .= "<td>${member_group}</td>";
			$cont_rec .= "<td>${member_name}</td>";
			$cont_rec .= "<td>${comment}</td>";
			$cont_rec .= "</tr>";
		} // end while
	} // end if

	if( $sel_sosiki_code ){
?>
                        <div class="content-wrap white-box">
                            <dl class="data-num flex-row">
                                <dt>コンタクトレコード</dt>
                                <dd>（ <span class="bold"><?=$cont_cnt?></span>件 ）</dd>
                            </dl>
                            <div class="table-scroll h300">
                                <table class="data-table border">
                                    <thead>
                                    <tr>
                                        <th>日付</th>
                                        <th>担当部署</th>
                                        <th>担当名</th>
                                        <th>内容</th>
                                    </tr>
                                    </thead>
                                    <tbody>
<?=$cont_rec?>
                                    </tbody>
                                </table>
                            </div>
                        </div>
<?
	}
?>
                        <div class="content-wrap white-box">
                            <dl class="data-num flex-row">
                                <dt>競争的資金</dt>
                                <dd>（ <?=$yosan_total_year?>カ年<?=$yosan_all?>百万円：<span class="bold"><?=$yosan_cnt?></span>件 ）</dd>
                            </dl>
                            <div class="table-scroll h300">
                                <table class="data-table border">
                                    <thead>
                                    <tr>
                                        <th>制度</th>
                                        <th>所管機関 / 部署</th>
                                        <th>採択年度</th>
                                        <th>研究年度</th>
                                        <th>予算額(円)</th>
                                        <th>研究課題</th>
                                    </tr>
                                    </thead>
                                    <tbody>
<?=$yosan_rec?>
                                    </tbody>
                                </table>
                            </div>
                        </div>

<?php
    $sql  = "select *, ldb_kikan_area(kikan_code) ";
    $sql .= "  from kaken_kenkyuusya_member where base_kennkyuusya_code='${kennkyuusya_code}' ";
    $sql .= " order by ldb_kikan_area(kikan_code), kikan_code, sosiki_code ";
    $rset = pg_query($conn,$sql);
    $rset_count = pg_num_rows($rset);
?>
                        <!-- 共同研究者 -->
                        <div class="content-wrap white-box">
                            <dl class="data-num flex-row">
                                <dt>共同研究者</dt>
                                <dd>（ <span class="bold"><?=$rset_count?></span>人 ）</dd>
                            </dl>
                            <div class="table-scroll h300">
                                <table class="data-table border">
                                    <thead>
                                    <tr>
                                        <th>氏名</th>
                                        <th>機関</th>
                                        <th>組織</th>
                                        <th>役職</th>
                                    </tr>
                                    </thead>
                                    <tbody>
<?php
    if($rset) {
		while($array = pg_fetch_assoc($rset)) {
		    $kikan_code = Array_Check($array,"kikan_code");
		    $sosiki_code = Array_Check($array,"sosiki_code");
		    $list_kennkyuusya_code = Array_Check($array,"kennkyuusya_code");
		    $kikan_name = Array_Check($array,"kikan_name");
		    $sosiki_name = Array_Check($array,"sosiki_name");
		    $kennkyuusya_name = Array_Check($array,"kennkyuusya_name");
		    $yakusyoku = Array_Check($array,"yakusyoku");
		    $ctm = Array_Check($array,"uitime");
		    if( $ctime < $ctm ){
				$ctime = $ctm;
		    }
?>
  <tr class="list-header">
    <td align="left" valign="top"><a <?=$window_mode?> href="kenkyusya-detail.html?kennkyuusya_code=<?=$list_kennkyuusya_code?><?=$bd_mode?>"><?=$kennkyuusya_name?></a></td>
    <td align="left" valign="top"><?=$kikan_name?></td>
    </td>
<?if($link_mode){?>
    <td align="left" valign="top"><?=$sosiki_name?></td>
<?} else {?>
    <td align="left" valign="top"><a <?=$window_mode?> href="sosiki-detail.html?sosiki_code=<?=$sosiki_code?><?=$bd_mode?>"><?=$sosiki_name?>
<?}?>
</a>
    <td align="left" valign="top"><?=$yakusyoku?></td>
  </tr>
<?php
	} // end while
    } // end if
?>
                                    </tbody>
                                </table>
                            </div>
                        </div>
<?php
    $kei_rec = "";
    $kei_cnt = 0;
    $sql  = "select distinct col6 ";
    $sql .= "  from kaken_kenkyuusya where kennkyuusya_code='${kennkyuusya_code}' ";
    $rset = pg_query($conn,$sql);
    if($rset) {
		while($array = pg_fetch_assoc($rset)) {
		    $col6 = str_replace("\n", "<br>", Array_Check($array,"col6"));
		    $kei_rec .= "<tr class='list-header'>";
		    $kei_rec .= "<td align='left' valign='top'>".$col6."</td>";
		    $kei_rec .= "</tr>";
		    $kei_cnt += substr_count($col6, "<br>") + 1;
		} // end while
    } // end if

    $kei_rec = "";
    $kei_cnt = 0;
    $sql  = "select distinct col6 ";
    $sql .= "  from kaken_kenkyuusya where kennkyuusya_code='${kennkyuusya_code}' ";
    $rset = pg_query($conn,$sql);
    if($rset) {
		while($array = pg_fetch_assoc($rset)) {
		    $col6 = str_replace("\n", "<br>", Array_Check($array,"col6"));
		    $kei_rec .= "<tr>";
		    $kei_rec .= "<td>".$col6."</td>";
		    $kei_rec .= "</tr>";
		    $kei_cnt += substr_count($col6, "<br>") + 1;
		} // end while
    } // end if
?>
                        <!-- 研究経歴 -->
                        <div class="content-wrap white-box">
                            <dl class="data-num flex-row space-between">
              <span class="flex-row">
                <dt>研究経歴</dt>
                <dd>（ <span class="bold"><?=$kei_cnt?></span>件 ）</dd>
              </span>
                                <dd>
                                    <button class="square-btn acc-btn"></button>
                                </dd>
                            </dl>
                            <div class="table-scroll h300 acc-box">
                                <table class="data-table border">
                                    <tbody>
<?=$kei_rec?>
                                    </tbody>
                                </table>
                            </div>
                        </div>
<?php
	$doc_rec = "";
	$doc_cnt = 0;
	$sql  = "select * ";
	$sql .= "  from market_detail where kennkyuusya_code='${kennkyuusya_code}' ";
	pg_query($conn, "set client_encoding=UNICODE");
	$rset = pg_query($conn,$sql);
	if($rset) {
		while($array = pg_fetch_assoc($rset)) {
			$doc = str_replace("\r\n", "<br>", mb_convert_encoding(Array_Check($array,"doc"), 'sjis-win', 'UTF-8'));
			$url = str_replace("\r\n", "<br>", mb_convert_encoding(Array_Check($array,"url"), 'sjis-win', 'UTF-8'));
			$ctm = Array_Check($array,"ctime");
			if( $ctime < $ctm ){
				$ctime = $ctm;
			}
			if( ! $doc ){
				$doc = $url;
			}
			$doc_rec .= "<tr class='list-header'>";
			$doc_rec .= "<td align='left' valign='top' colspan='3'><a href='".$url."' target='_blank'>".$doc."</a></td>";
			$doc_rec .= "</tr>";
			$doc_cnt ++;
		} // end while
	} // end if

    $key_rec = "";
    $key_cnt = 0;
    $sql  = "select distinct * ";
    $sql .= "  from kennkyuusya_keyword where kennkyuusya_code='${kennkyuusya_code}' ";
    $rset = pg_query($conn,$sql);
    if($rset) {
	$key_rec .= "<tr class='list-header'>";
	$key_rec .= "<td align='left' valign='top' style='width:993px;white-space:normal;word-break:break-all;word-wrap:break-word'>";
	while($array = pg_fetch_assoc($rset)) {
	    $col9 = str_replace("", "", Array_Check($array,"keyword"));
	    $col9 = str_replace(" ", "<br>", $col9);
	    $col9 = str_replace("\r\n", "<br>", $col9);
	    $col9 = str_replace("\r", "<br>", $col9);
	    $col9 = str_replace("\n", "<br>", $col9);
	    $col9 = str_replace("<br>", " / ", $col9);
	    $ctm = Array_Check($array,"ctime");
	    $key_rec .= htmlspecialchars($col9);
	    $key_cnt += substr_count($col9, " / ") + 1;
	}
	$key_rec .= "</td>";
	$key_rec .= "</tr>";
    }
?>

                        <!-- 研究キーワード -->
                        <div class="content-wrap white-box">
                            <div class="flex-row space-between">
                                <dl class="data-num flex-row space-between">
                <span class="flex-row">
                  <dt>研究キーワード</dt>
                  <dd>（ <span class="bold"><?=$key_cnt?></span>件 ）</dd>
                </span>
                                    <dd>
                                        <button class="square-btn acc-btn"></button>
                                    </dd>
                                </dl>
                            </div>
                            <div class="table-scroll h300 acc-box">
                                <div class="scroll-area">
                                    <ul class="word-list">
<?=$key_rec?>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 最終更新日 -->
            <div class="content-wrap white-box">
                <table class="detail-table">
                    <tr>
                        <th>最終更新日：</th>
                        <td><?=date('Y/m/d', strtotime($upd_date))?></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <footer class="footer">
        <small class="copyright">&copy; 2019 sagbrain</small>
    </footer>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <span class="content-title"><font color="red">* 必須入力項目</font></span>
                    <div class="search-wrap content-wrap">
                        <table class="detail-table responsive">
                            <tr>
                                <td class="search-item" colspan="2">
                                    <p class="label">研究者コード</p>
                                    <input class="search-input" type="text" value="<?=$kennkyuusya_code?>" disabled>
                                </td>
                            </tr>
                            <tr>
                                <td class="search-item" colspan="2">
                                    <p class="label"><font color="red">*</font>氏名</p>
                                    <input class="search-input" type="text" name="name" value="<?=$name?>">
                                </td>
                            </tr>
                            <tr>
                                <td class="search-item" colspan="2">
                                    <p class="label"><font color="red">*</font>氏名カタカナ</p>
                                    <input class="search-input" type="text" name="kana" value="<?=$kana?>">
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-gray" data-dismiss="modal">キャンセル</button>
                    <button type="button" class="btn btn-blue">入力内容を確認</button>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
<script>
setMenu(<?=$disp_mode?>);
</script>
</html>
