<?php
	require_once "include/auth_utf.inc";
	require_once "include/parts_utf.inc";
	require_once "include/tlib_utf.inc";

	$conn = Get_Conn();
	$company_no = $_SESSION["company_no"];
	$staff_no = $_SESSION["staff_no"];

	// 仮登録
	$kari_mode = "1";
	$edit_mode = "1";

	$error_flg="0";

	// GETパラメータ
	$kikan_code  = trim(Array_Check($_GET ,"kikan_code"));
	$from  = trim(Array_Check($_GET ,"from"));

	// POSTパラメータ
	$mode          = Array_Check($_POST,"mode");

	$kikan_name     = "";
	$kikan_name_tuusyou = "";
	$up_kikan_code  = "";
	$kikan_bunrui   = "";
	$kikan_english  = "";
	$kikan_kana     = "";
	$url            = "";
	$email          = "";
	$pref           = "";
	$addr           = "";
	$city           = "";
	$building       = "";
	$post_code      = "";
	$tel            = "";
	$fax            = "";
	$pref_code      = "";
	$area_code      = "";
	$old_kikan_code = "";
	$old_kikan_name = "";
	$old_kikan_name_disp = "";
	$kari_flg       = "";
	$utime          = "";
	$uname          = "";
	$del_flg        = "";
	$status         = "有効";
	$kikan_status   = "";

	$sql  = "select *, ldb_kikan_bunrui_name(kikan_bunrui) as kikan_bunrui_name, ldb_kikan_name(up_kikan_code) as up_kikan_name \n";
	$sql .= "  from mt_kikan \n";
	$sql .= " where kikan_code = '".pg_escape_string($kikan_code)."'";
	$rset = pg_query($conn,$sql);

	if($rset && pg_num_rows($rset) == 1) {
		$array = pg_fetch_assoc($rset);

		$kikan_code    = trim(Array_Check($array,"kikan_code"));
		$kikan_name    = Array_Check($array,"kikan_name");
		$kikan_name_tuusyou = Array_Check($array,"kikan_name_tuusyou");
		$up_kikan_code = trim(Array_Check($array,"up_kikan_code"));
		$up_kikan_name = trim(Array_Check($array,"up_kikan_name"));
		$kikan_bunrui  = trim(Array_Check($array,"kikan_bunrui"));
		$kikan_bunrui_name = trim(Array_Check($array,"kikan_bunrui_name"));
		$kikan_english = trim(Array_Check($array,"kikan_english"));
		$kikan_kana    = Array_Check($array,"all_kikan_kana");
		$url           = Array_Check($array,"url");
		$email         = Array_Check($array,"email");
		$pref          = Array_Check($array,"pref");
		$addr          = Array_Check($array,"addr");
		$city          = Array_Check($array,"city");
		$building      = Array_Check($array,"building");
		$post_code     = Array_Check($array,"post_code");
		$tel           = Array_Check($array,"tel");
		$fax           = Array_Check($array,"fax");
		$pref_code     = Array_Check($array,"pref_code");
		$area_code     = Array_Check($array,"area_code");
		$old_kikan_code = Array_Check($array,"old_kikan_code");
		if( $old_kikan_code ){
			$old_kikan_code = "(".$old_kikan_code.")";
		}
		$old_kikan_name = Array_Check($array,"old_kikan_name");
		$old_kikan_name_disp = str_replace("￥", "<br>", Array_Check($array,"old_kikan_name"));
		$kari_flg       = Array_Check($array,"kari_flg");
		if( $kari_flg && $edit_mode ){
		} else {
			$edit_mode = "";
		}
		if( ! $kari_flg ) {
			$bbs_mode = "1";
		} else {
			if($company_no == "SAGBRAIN"){
				if( $kari_flg == '1' ){
					$kikan_status = "仮登録データ";
				} else {
					$kikan_status = "会員独自データ";
				}
			} else {
				$kikan_status = "貴社登録データ";
			}
			$bbs_mode = "";
		}
		$utime          = Array_Check($array,"utime");
		$uname          = Array_Check($array,"uname");
		$del_flg        = Array_Check($array,"del_flg");
		if( $del_flg ){
			$kikan_status		= "削除済み";
		}
	}

	$style = "INPUTSTYLE1_2";
	$readonly = "readonly";
?>
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>機関詳細情報|LDB</title>
    <link rel="shortcut icon" href="img/favicon.ico">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="js/jkl-calendar.js" charset="Shift_JIS"></script>
    <script src="js/common.js"></script>
    <script src="js/script.js"></script>
    <script src="js/ajax.js"></script>
    <script src="js/suggest.js"></script>
     <script type="text/javascript">
     function menu_search_one_mitsumori(seq) {
        var iframe = parent.document.getElementById("tpopup");
        iframe.width = "920";
        iframe.height = "850";
        iframe.src = "syodan_mitsumori.html";
        iframe.style.display = '';
    }

    function menu_search_one_mitsu(seq) {
        var iframe = parent.document.getElementById("tpopup");
        iframe.width = "920";
        iframe.height = "850";
        iframe.src = "syodan_mitsu.html";
        iframe.style.display = '';
    }

    function menu_search_one_bulk(seq) {
        var iframe = parent.document.getElementById("tpopup");
        iframe.width = "920";
        iframe.height = "850";
        iframe.src = "syodan_bulk.html" + seq;
        iframe.style.display = '';
    }

    function menu_search_one_hiki(seq) {
        var iframe = parent.document.getElementById("tpopup");
        iframe.width = "920";
        iframe.height = "850";
        iframe.src = "syodan_hikiai.html";
        iframe.style.display = '';
    }


    function menu_search_one_sample(seq) {
        var iframe = parent.document.getElementById("tpopup");
        iframe.width = "920";
        iframe.height = "850";
        iframe.src = "syodan_sample.html";
        iframe.style.display = '';
    }
    function menu_search_one_zouki(seq) {
        var iframe = parent.document.getElementById("tpopup");
        iframe.width = "920";
        iframe.height = "850";
        iframe.src = "syodan_zouki.html";
        iframe.style.display = '';
    }
    function bbsMark() {
        var iframe = parent.document.getElementById("bbspopup");
        iframe.src = "bbs/detail.html?code=<?=$kikan_code?>";
        iframe.style.display = '';
    }

    function infoMark() {
        var iframe = parent.document.getElementById("infopopup");
        iframe.src = "kikan-info.html?kikan_code=<?=$kikan_code?>";
        iframe.style.display = '';
    }
    function menu_search_one_kesei(seq) {
        var iframe = parent.document.getElementById("tpopup");
        iframe.width = "920";
        iframe.height = "850";
        iframe.src = "syodan_kesei.html";
        iframe.style.display = '';
    }
    </script>
</head>
<body>
<iframe id="tpopup" name="tpopup" width="600" height="420" frameborder="0" class="tpopup" style="display:none;left:25%;top:70px;border:8px #ffcccc ridge;z-index:1;position:fixed"></iframe>
<iframe id="bbspopup" name="bbspopup" width="600" height="630" frameborder="0" class="tpopup" style="display:none;left:35%;top:70px;border:8px #ffcccc ridge;z-index:1; position:fixed"></iframe>
<iframe id="infopopup" name="infopopup" width="600" height="420" frameborder="0" class="tpopup" style="display:none;left:35%;top:70px;border:8px #ffcccc ridge;z-index:1;position:fixed"></iframe>
<iframe id="msgpopup" name="msgpopup" width="200" height="200" frameborder="0" class="tpopup" style="display:none;left:35%;top:70px;border:8px #ffcccc ridge;z-index:1;position:fixed"></iframe>

<header class="header">
    <div class="header-inner">
        <div class="header-left">
            <div class="header-trigger hover-white no-pc"><i class="icon fas fa-bars"></i></div>
        </div>
        <h1 class="logo">LDB</h1>
        <div class="header-data flex-row vertical-middle pc-only">
            <p class="user-data"><a href="top.html" class="text-light">ホーム</a></p>
            <button class="btn btn-link sign-out hover-white"><i class="icon fas fa-sign-out-alt"></i>ログアウト</button>
        </div>
    </div>
</header>
<div class="wrapper">
    <div class="side-wrap" id="side-wrap">
        <script>
            $( "#side-wrap" ).load( "menu_navigation.html" );
        </script>
        <div class="nav-data no-pc">
            <p class="user-data"><a href="top.html" class="text-light">ホーム</a></p>
            <button class="sign-out btn btn-link"><i class="fas fa-sign-out-alt"></i>ログアウト</button>
        </div>
    </div>
    <div class="main-wrap">
        <div class="main-content">
            <h2 class="content-title">機関詳細情報</h2>
            <!-- 機関詳細情報 -->
            <div class="content-wrap detail-wrap white-box">
                <table class="detail-table responsive">
                    <tr>
                        <th>機関名</th>
                        <td>
                            <div class="float-left">
                                <h3><?=$kikan_name?><span class="code">(<?=$kikan_code?>)
<?php /* if( $edit_mode ){ ?>
				    <button type="button" class="s-btn btn-gray" data-toggle="modal" data-target="#exampleModal">
				    修正
				    </button>
<?php } */ ?>
</span></h3>
                            </div>
<? if( ! edit_mode ){ ?>
                            <div class="float-right">
                                <button type="button" class="s-btn btn-gray" onclick="JavaScript:bbsMark()">修正依頼
                                </button>
                            </div>
<? } ?>
                        </td>
                    </tr>
                    <tr>
                        <th>機関名通称</th>
                        <td><?=$kikan_name_tuusyou?></td>
                    </tr>
                    <tr>
                        <th>機関英語名</th>
                        <td><?=$kikan_english?></td>
                    </tr>
                    <tr>
                        <th>URL</th>
                        <td><a class="external-link" href="<?=htmlspecialchars($url,ENT_QUOTES)?>" target="_blank"><?=htmlspecialchars($url,ENT_QUOTES)?></a>
                        </td>
                    </tr>
                    <tr>
                        <th>住所</th>
                        <td>
                            <ul class="area">
                                <li>〒<?=htmlspecialchars($post_code,ENT_QUOTES)?></li>
                                <li><?=htmlspecialchars($pref,ENT_QUOTES)?>&nbsp;<?=htmlspecialchars($addr,ENT_QUOTES)?><?=htmlspecialchars($city,ENT_QUOTES)?>&nbsp;<?=htmlspecialchars($building,ENT_QUOTES)?></li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <th>電話番号</th>
                        <td><a href="tel:<?=htmlspecialchars($tel,ENT_QUOTES)?>" class="phone-number"><?=htmlspecialchars($tel,ENT_QUOTES)?></a></td>
                    </tr>
                    <tr>
                        <th>FAX番号</th>
                        <td><a href="tel:<?=htmlspecialchars($fax,ENT_QUOTES)?>" class="phone-number"><?=htmlspecialchars($fax,ENT_QUOTES)?></a></td>
                    </tr>
                    <tr>
                        <th>上位機関名</th>
                        <td>
                            <a href="kikan-detail.html?kikan_code=<?=$up_kikan_code?>"><?=htmlspecialchars($up_kikan_name,ENT_QUOTES)?><? if( $up_kikan_code ){ ?><span class="code">(<?=$up_kikan_code?>)</span><? } ?></a>
                        </td>
                    </tr>
                    <tr>
                        <th>旧機関名</th>
                        <td>
                            <ul class="detail-list-wrap">
                                <li><?=$old_kikan_name_disp?></li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <th>機関分類</th>
                        <td><?=htmlspecialchars($kikan_bunrui_name,ENT_QUOTES)?></td>
                    </tr>
                    <tr>
                        <th>状態</th>
                        <td align="right">
                            <button type="button" class="s-btn btn-gray" onclick="infoMark()">機関情報登録</button>
                        </td>
                    </tr>
                </table>
            </div>


<?php
	$sosiki_cnt = 0;
	$sql  = "select sosiki_code, sosiki_name, kari_flg, del_flg from mt_sosiki where kikan_code='${kikan_code}' and (up_sosiki_code = '' or up_sosiki_code is null)";
	if ($_SESSION["kengen"]=="9") {
		// 全仮登録データを検索可能
    } else {
		if($_SESSION["company_id"]){
			$sql .= " and (kari_flg='0' or kari_flg is null or sosiki_code like '".$_SESSION["company_id"]."%') ";
		} else {
			$sql .= " and (kari_flg='0' or kari_flg is null) ";
		}
		$sql .= " and del_flg = '0'";
    }
	$sql .= " order by sosiki_code";
	$rset = pg_query($conn,$sql);
	$sosiki_cnt  = pg_num_rows($rset);
	$rec = "";
	if($rset) {
		while($array = pg_fetch_assoc($rset)) {
			$sosiki_code = Array_Check($array,"sosiki_code");
			$sosiki_name = Array_Check($array,"sosiki_name");
			$kari_flg = Array_Check($array,"kari_flg");
			$del_flg = Array_Check($array,"del_flg");
			$color = "";
			if( $kari_flg ){
				$color ="style='background-color:#BBDDBB'";
			}
			if( $del_flg ){
				$color ="style='background-color:#DDDDDD'";
			}
			$rec .= "<tr class='list-header' ${color}>";
			$rec .= "<td align='center'>${sosiki_code}</td>";
			$rec .= "<td align='left'><a ${window_mode} href='sosiki.php?sosiki_code=${sosiki_code}${bd_mode}'>${sosiki_name}</a></td>";
			$rec .= "</tr>";
		}
	}
	$sql  = "select mt_sosiki.sosiki_code, mt_sosiki.sosiki_name, mt_sosiki.kari_flg, mt_sosiki.del_flg, uri.price, uri.suryo, uri.yyyy from mt_sosiki ";
	$sql .= " left join ";
    $sql .= "( select sum(to_number(price, '9999999999')) as price, count(*) as suryo, f_sosiki_code, substr(uriage_date, 1, 4) as yyyy from uriage ";
	$sql .= " where kikan_code = '".$kikan_code."' group by substr(uriage_date, 1, 4), f_sosiki_code ) uri ";
	$sql .= " on mt_sosiki.sosiki_code = uri.f_sosiki_code ";
	$sql .= " where mt_sosiki.kikan_code='${kikan_code}' and (mt_sosiki.up_sosiki_code = '' or mt_sosiki.up_sosiki_code is null)";
	$sql .= " and mt_sosiki.del_flg = '0' ";
    $DBData = DBSelect($sql);
    $jyutyu_cnt = $DBData["Count"];
    $j_arr = array();
    $max_yyyy = "";
    $min_yyyy = "9999";
    for( $i = 0 ; $i < $jyutyu_cnt ; $i ++ ){
		$j_arr[$DBData["Data"][$i]['sosiki_code']]['sosiki_name'] = $DBData["Data"][$i]['sosiki_name'];
		if( $DBData["Data"][$i]['yyyy'] && $max_yyyy <= $DBData["Data"][$i]['yyyy'] ) $max_yyyy = $DBData["Data"][$i]['yyyy'];
		if( $DBData["Data"][$i]['yyyy'] && $min_yyyy >= $DBData["Data"][$i]['yyyy'] ) $min_yyyy = $DBData["Data"][$i]['yyyy'];
		$j_arr[$DBData["Data"][$i]['sosiki_code']][$DBData["Data"][$i]['yyyy']][0] = number_format($DBData["Data"][$i]['price']);
		$j_arr[$DBData["Data"][$i]['sosiki_code']][$DBData["Data"][$i]['yyyy']][1] = number_format($DBData["Data"][$i]['suryo']);
    }
    $t1_1 = 0;
    $t1_2 = 0;
    $sql = "select sum(to_number(price, '9999999999')) as price, count(*) as suryo, f_sosiki_code as sosiki_code from uriage where kikan_code = '".$kikan_code."' group by f_sosiki_code";
    $DBData = DBSelect($sql);
    $jyutyu_cnt = $DBData["Count"];
    for( $i = 0 ; $i < $jyutyu_cnt ; $i ++ ){
		if( $j_arr[$DBData["Data"][$i]['sosiki_code']]['sosiki_name'] ){
			$j_arr[$DBData["Data"][$i]['sosiki_code']]["sum"][0] = number_format($DBData["Data"][$i]['price']);
			$j_arr[$DBData["Data"][$i]['sosiki_code']]["sum"][1] = number_format($DBData["Data"][$i]['suryo']);
			$t1_1 += $DBData["Data"][$i]['price'];
			$t1_2 += $DBData["Data"][$i]['suryo'];
		}
    }

	$color = "";
	$rec = "";
	$rec .= "<tr>";
	$rec .= "<th>組織</th>";
	for( $i = $max_yyyy ; $i >= $min_yyyy ; $i -- ){
		$rec .= "<th colspan='2'>".$i."年</th>";
	}
	$rec .= "<th colspan='2'>合計</th>";
	$rec .= "</tr></thead><tbody>";
	$rec .= "<tr>";
	$rec .= "<td>合計</td>";
	$sumyear = array();
	$sumcnt = array();
	$asumyear = "";
	$asumcnt = "";
	foreach( $j_arr as $key => $val ){
		for( $i = $max_yyyy ; $i >= $min_yyyy ; $i -- ){
			$sumyear[$i] += str_replace(",", "", $val[$i][0]);
			$sumcnt[$i] += str_replace(",", "", $val[$i][1]);
		}
		$asumyear += str_replace(",", "", $val["sum"][0]);
		$asumcnt += str_replace(",", "", $val["sum"][1]);
	}
	for( $i = $max_yyyy ; $i >= $min_yyyy ; $i -- ){
		$rec .= "<td align='right'>".number_format($sumyear[$i])."</td>";
		$rec .= "<td align='right'>".number_format($sumcnt[$i])."</td>";
		$jyutyu_sum += $sumyear[$i];
		$jyutyu_cnt += $sumcnt[$i];
	}
	$rec .= "<td align='right'>".number_format($asumyear)."</td>";
	$rec .= "<td align='right'>".number_format($asumcnt)."</td>";
	$rec .= "</tr>";
	foreach( $j_arr as $key => $val ){
			$rec .= "<tr class='list-header' ${color}>";
			$rec .= "<td align='left'><a href='sosiki-detail.html?sosiki_code=${key}'>".$val["sosiki_name"]."<span class='code'>(".${key}.")</span></a></td>";
			for( $i = $max_yyyy ; $i >= $min_yyyy ; $i -- ){
				$rec .= "<td align='right'>".$val[$i][0]."</td>";
				$rec .= "<td align='right'>".$val[$i][1]."</td>";
			}
			$rec .= "<td align='right'>".$val["sum"][0]."</td>";
			$rec .= "<td align='right'>".$val["sum"][1]."</td>";
			$rec .= "</tr>";
	}
?>
            <!-- 第一組織一覧 -->
            <div class="content-wrap white-box">
                <div class="h300">
                    <table class="data-table border">
                        <thead>
                        <tr>
                            <th align="left" colspan="22" bgcolor="#000088" style="color:#fff;padding: 10px 5px;">第一組織 (<?=$sosiki_cnt?>件)</th>
                            <th align="right" bgcolor="#000088" class="text-right" style="border-left: none;">
                                <button class="s-btn btn-gray" type="button" data-toggle="modal" data-target="#addSosikiPop">
                            追加
                        </button>
                        </th>
                        </tr>
<?=$rec?>
                        </tbody>
                    </table>
                </div>
            </div>

<?
    $j_rec = "";
    $sql = "select sum(to_number(price, '9999999999')) as price, count(*) as suryo, tokui_name, substr(uriage_date, 1, 4) as yyyy from uriage where kikan_code = '".$kikan_code."' group by substr(uriage_date, 1, 4), tokui_name order by sum(to_number(price, '9999999999')) desc , tokui_name";
    $DBData = DBSelect($sql);
    $jyutyu_cnt = $DBData["Count"];
    $j_arr = array();
    $max_yyyy = "";
    $min_yyyy = "9999";
    for( $i = 0 ; $i < $jyutyu_cnt ; $i ++ ){
		if( $max_yyyy <= $DBData["Data"][$i]['yyyy'] ) $max_yyyy = $DBData["Data"][$i]['yyyy'];
		if( $min_yyyy >= $DBData["Data"][$i]['yyyy'] ) $min_yyyy = $DBData["Data"][$i]['yyyy'];
		$j_arr[$DBData["Data"][$i]['tokui_name']][$DBData["Data"][$i]['yyyy']][0] = number_format($DBData["Data"][$i]['price']);
		$j_arr[$DBData["Data"][$i]['tokui_name']][$DBData["Data"][$i]['yyyy']][1] = number_format($DBData["Data"][$i]['suryo']);
    }
    $t1_1 = 0;
    $t1_2 = 0;
    $sql = "select sum(to_number(price, '9999999999')) as price, count(*) as suryo, tokui_name from uriage where kikan_code = '".$kikan_code."' group by tokui_name";
    $DBData = DBSelect($sql);
    $jyutyu_cnt = $DBData["Count"];
    for( $i = 0 ; $i < $jyutyu_cnt ; $i ++ ){
		$j_arr[$DBData["Data"][$i]['tokui_name']]["sum"][0] = number_format($DBData["Data"][$i]['price']);
		$j_arr[$DBData["Data"][$i]['tokui_name']]["sum"][1] = number_format($DBData["Data"][$i]['suryo']);
		$t1_1 += $DBData["Data"][$i]['price'];
		$t1_2 += $DBData["Data"][$i]['suryo'];
    }

	$j_rec .= "<tr>";
	$j_rec .= "<th>販売店名</th>";
	for( $i = $max_yyyy ; $i >= $min_yyyy ; $i -- ){
		$j_rec .= "<td colspan='2'>".$i."年</td>";
	}
	$j_rec .= "<th colspan='2'>合計</th>";
	$j_rec .= "</tr></thead><tbody>";
	$j_rec .= "<tr>";
	$j_rec .= "<td>合計</td>";
	$sumyear = array();
	$sumcnt = array();
	$asumyear = "";
	$asumcnt = "";
	foreach( $j_arr as $key => $val ){
		for( $i = $max_yyyy ; $i >= $min_yyyy ; $i -- ){
			$sumyear[$i] += str_replace(",", "", $val[$i][0]);
			$sumcnt[$i] += str_replace(",", "", $val[$i][1]);
		}
		$asumyear += str_replace(",", "", $val["sum"][0]);
		$asumcnt += str_replace(",", "", $val["sum"][1]);
	}
	for( $i = $max_yyyy ; $i >= $min_yyyy ; $i -- ){
		$j_rec .= "<td align='right'>".number_format($sumyear[$i])."</td>";
		$j_rec .= "<td align='right'>".number_format($sumcnt[$i])."</td>";
		$jyutyu_sum += $sumyear[$i];
		$jyutyu_cnt += $sumcnt[$i];
	}
	$j_rec .= "<td align='right'>".number_format($asumyear)."</td>";
	$j_rec .= "<td align='right'>".number_format($asumcnt)."</td>";
	$j_rec .= "</tr>";
	foreach( $j_arr as $key => $val ){
			$j_rec .= "<tr>";
			$j_rec .= "<td align='left'>".$key."</td>";
			for( $i = $max_yyyy ; $i >= $min_yyyy ; $i -- ){
				$j_rec .= "<td align='right'>".$val[$i][0]."</td>";
				$j_rec .= "<td align='right'>".$val[$i][1]."</td>";
			}
			$j_rec .= "<td align='right'>".$val["sum"][0]."</td>";
			$j_rec .= "<td align='right'>".$val["sum"][1]."</td>";
			$j_rec .= "</tr>";
	}

	$m_rec = "";
	$sql = "select sum(to_number(price, '9999999999')) as price, count(*) as suryo, maker_ryakusyo as tokui_name, substr(uriage_date, 1, 4) as yyyy from uriage where kikan_code = '".$kikan_code."' group by substr(uriage_date, 1, 4), maker_ryakusyo order by maker_ryakusyo, substr(uriage_date, 1, 4) desc";
	$DBData = DBSelect($sql);
	$jyutyu_cnt = $DBData["Count"];
	$j_arr = array();
	for( $i = 0 ; $i < $jyutyu_cnt ; $i ++ ){
		$j_arr[$DBData["Data"][$i]['tokui_name']][$DBData["Data"][$i]['yyyy']][0] = number_format($DBData["Data"][$i]['price']);
		$j_arr[$DBData["Data"][$i]['tokui_name']][$DBData["Data"][$i]['yyyy']][1] = number_format($DBData["Data"][$i]['suryo']);
	}
	$sql = "select sum(to_number(price, '9999999999')) as price, count(*) as suryo, maker_ryakusyo as tokui_name from uriage where kikan_code = '".$kikan_code."' group by maker_ryakusyo";
	$DBData = DBSelect($sql);
	$jyutyu_cnt = $DBData["Count"];
	for( $i = 0 ; $i < $jyutyu_cnt ; $i ++ ){
		$j_arr[$DBData["Data"][$i]['tokui_name']]["sum"][0] = number_format($DBData["Data"][$i]['price']);
		$j_arr[$DBData["Data"][$i]['tokui_name']]["sum"][1] = number_format($DBData["Data"][$i]['suryo']);
	}
	$m_rec .= "<tr>";
	$m_rec .= "<th>メーカー</th>";
	for( $i = $max_yyyy ; $i >= $min_yyyy ; $i -- ){
		$m_rec .= "<th colspan='2'>".$i."年</th>";
	}
	$m_rec .= "<th colspan='2'>合計</th>";
	$m_rec .= "</tr></thead><tbody>";
	$m_rec .= "<tr>";
	$m_rec .= "<td>合計</td>";
	$sumyear = array();
	$sumcnt = array();
	$asumyear = "";
	$asumcnt = "";
	foreach( $j_arr as $key => $val ){
		for( $i = $max_yyyy ; $i >= $min_yyyy ; $i -- ){
			$sumyear[$i] += str_replace(",", "", $val[$i][0]);
			$sumcnt[$i] += str_replace(",", "", $val[$i][1]);
		}
		$asumyear += str_replace(",", "", $val["sum"][0]);
		$asumcnt += str_replace(",", "", $val["sum"][1]);
	}
	for( $i = $max_yyyy ; $i >= $min_yyyy ; $i -- ){
		$m_rec .= "<td align='right'>".number_format($sumyear[$i])."</td>";
		$m_rec .= "<td align='right'>".number_format($sumcnt[$i])."</td>";
	}
	$m_rec .= "<td align='right'>".number_format($asumyear)."</td>";
	$m_rec .= "<td align='right'>".number_format($asumcnt)."</td>";
	$m_rec .= "</tr>";
	$color = "bgColor='#FFFFF0'";
	foreach( $j_arr as $key => $val ){
			$m_rec .= "<tr>";
			$m_rec .= "<td align='left'>".$key."</td>";
			for( $i = $max_yyyy ; $i >= $min_yyyy ; $i -- ){
				$m_rec .= "<td align='right'>".$val[$i][0]."</td>";
				$m_rec .= "<td align='right'>".$val[$i][1]."</td>";
			}
			$m_rec .= "<td align='right'>".$val["sum"][0]."</td>";
			$m_rec .= "<td align='right'>".$val["sum"][1]."</td>";
			$m_rec .= "</tr>";
	}
?>

            <!-- 販売店毎の合計金額 / メーカー毎の合計金額 -->
                <!-- 販売店毎の合計金額 -->
                <div class="content-wrap white-box">
                    <div class="h300">
                        <table class="data-table border">
                            <thead>
                            <tr>
                            <th align="left" colspan="23" bgcolor="#000088" style="color:#fff;padding: 10px 5px;">販売店毎の合計金額/合計受注件数</th>
                        </tr>
<?=$j_rec?>
                            </tbody>
                        </table>
                    </div>
                </div>
            <div class="content-wrap white-box">
                <!-- メーカー毎の合計金額 -->
                <div class="h300">
                    <table class="data-table border">
                        <thead>
                        <tr>
                            <th align="left" colspan="23" bgcolor="#000088" style="color:#fff;padding: 10px 5px;">メーカー毎の合計金額/合計受注件数</th>
                        </tr>
<?=$m_rec?>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- 最終更新日 -->
            <div class="content-wrap white-box">
                <table class="detail-table">
                    <tr>
                        <th class="label">最終更新日：</th>
                        <td><?=date('Y/m/d', strtotime($utime))?></td>
                    </tr>
                </table>

            </div>
        </div>
        <footer class="footer">
            <small class="copyright">&copy; 2019 sagbrain</small>
        </footer>
    </div>
</div>
<div class="modal fade" id="addSosikiPop" tabindex="-1" role="dialog" aria-labelledby="addSosikiPopTitle" aria-hidden="true">
    <form name="frmModal" target="msgpopup" action="kari_kikan_sosiki.php">
    <input type="hidden" name="mode" value="save">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <table class="detail-table responsive">
                    <thead>
                    <tr>
                        <td colspan="2"><p class="label" align="center">第一組織情報</p></td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="search-item" colspan="2">
                            <p class="label">機関分類</p>
                            <select name="kikan_bunrui">
<?=Select_Option_Kikan_Bunrui($kikan_bunrui)?>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="search-item">
                            <p class="label">機関名</p>
                            <input class="search-input" type="text" name="kikan_name" value="<?=$kikan_name?>" readonly>
                        </td>
                        <td class="search-item">
                            <p class="label">機関コード</p>
                            <input class="search-input" type="text" name="kikan_code" value="<?=$kikan_code?>" readonly>
                        </td>
                    </tr>
                    <tr>
                        <td class="search-item">
                            <p class="label">組織名<font color="#ff0000">*</font></p>
                            <input class="search-input" type="text" name="sosiki_name" value="">
                        </td>
                        <td class="search-item">
                            <p class="label">組織コード</p>
                            <input class="search-input" type="text" name="sosiki_code" value="" disabled>
                        </td>
                    </tr>
                    <tr>
                        <td class="search-item" colspan="2">
                            <p class="label">ラボフラグ<font color="#ff0000">*</font></p>
                            <select name="labo_flg" class="search-input">
                                <option value="0">選択して下さい</option>
                                <option value="1">ラボ</option>
                                <option value="9">ラボ以外</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="search-item">
                            <p class="label" style="height: 22px;">郵便番号</p>
                            <input class="search-input" type="text" name="post_code" value="">
                        </td>
                        <td class="search-item">
                            <p class="label">
                                <button class="s-btn btn-gray" type="button" data-toggle="modal" data-target="#postCodeModal">住所検索
                                </button>
                            </p>
                            <input class="search-input" type="text" value="例)101-0001" disabled>
                        </td>
                    </tr>
                    <tr>
                        <td class="search-item" colspan="2">
                            <p class="label">都道府県<font color="#ff0000">*</font></p>
                            <select name="pref" class="search-input">
<?=Select_Option_pref("mt_pref", "pref_code", "pref_name", $pref)?>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="search-item">
                            <p class="label">市区町村</p>
                            <input class="search-input" type="text" name="addr" value="">
                        </td>
                        <td class="search-item">
                            <p class="label">町名番地</p>
                            <input class="search-input" type="text" name="city">
                        </td>
                    </tr>
                    <tr>
                        <td class="search-item" colspan="2">
                            <p class="label">URL</p>
                            <input class="search-input" type="text" name="kikan_name" value="">
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="modal-footer">
                    <input type="submit" class="s-btn btn-blue" value="登録">
                    <button type="button" class="s-btn btn-gray" data-dismiss="modal">閉じる</button>
                </div>
            </div>
        </div>
    </div>
    </form>
</div>
<div class="modal fade" id="postCodeModal" tabindex="-1" role="dialog" aria-labelledby="postCodeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                読み込み中・・・
            </div>
        </div>
    </div>
</div>
</body>
</html>
