<?php
	require_once "include/auth_utf.inc";
	require_once "include/tlib_utf.inc";
	$id = $_SESSION["staff_no"];
	$kengen = $_SESSION["kengen"];
	$password_kigen = $_SESSION["password_kigen"];
	$password_limit = $_SESSION["password_limit"];
	$name  = $_SESSION["staff_name"];
	$photo = $_SESSION["logo"];
	$company_no = $_SESSION["company_no"];
	$staff_no = $_SESSION["staff_no"];

	$msg = "";

	$login_chk = "1";
	$conn = Get_Conn();

	$delmode = Array_Check($_GET,"delmode");
	$del_array = Array_Check($_GET,"delchk[]");
	$contacturl="contact_goods.html";

	if( $delmode ){
		$sql = "";
		$seq_list = "";
		for ($i = 0; $i < count(@$_GET["delchk"]); $i++) {
			if( $seq_list ){
				$seq_list .= ",";
			}
			$seq_list .= "'".$_GET["delchk"][$i]."'";
		}
		if( $seq_list ){
			$sql  = "delete from bookmark where company_no = '${company_no}' and id = '${staff_no}' and code in (${seq_list})";
		}
		pg_query($conn,$sql);
		$msg = "alert('削除しました。');";
	}

	$seq = Array_Check($_GET,"seq");
	$upd = Array_Check($_GET,"upd");
	$mode = Array_Check($_GET,"mode");
	if( $mode == "upd"){
		$sql  = "update fn_sample set mode = '".$upd."' where seq = '${seq}'";
		pg_query($conn,$sql);
		$msg = "alert('更新しました。');";
	} else if( $mode == "del"){
		$sql = "";
		$seq_list = "";
		for ($i = 0; $i < count(@$_GET["delchk"]); $i++) {
			if( $seq_list ){
				$seq_list .= ",";
			}
			$seq_list .= "'".$_GET["delchk"][$i]."'";
		}
		if( $seq_list ){
			$sql  = "delete from fn_sample where seq in (${seq_list})";
		}
		if( $seq ){
			$sql  = "delete from fn_sample where seq = '${seq}'";
		}
		pg_query($conn,$sql);
		$msg = "alert('削除しました。');";
	}

	$csv_title = "研究者組織コード,研究者名";
	$csv_param =  "select ks.kennkyuusya_sosiki_code, substr(kn.name, 1, 7) as name from ";
	$csv_param .= " mt_kennkyuusya_sosiki ks, ";
	$csv_param .= " mt_kennkyuusya kn where ks.kennkyuusya_code = kn.kennkyuusya_code";

	$sabuncsv_title = "コード,名称,区分,新コード";

	if($password_kigen){
		if( $kengen == '0' ){
			header("Location: passwordwindow.php");
			exit;
		} else if( $kengen == '8' ){
		}
	}

	pg_set_client_encoding($conn, "UTF-8");
	$kikan_cnt = 0;
	$kikan_base_cnt = 0;
	$sosiki_cnt = 0;
	$sosiki_base_cnt = 0;
	$kennkyuusya_cnt = 0;
	$kennkyuusya_base_cnt = 0;

	$sql =  "select count(*) as cnt from mt_kikan where del_flg = '0' and kikan_code like '1%'";
	$rset = pg_query($conn,$sql);
	if( $rset ){
		if($array = pg_fetch_assoc($rset)) {
			$kikan_base_cnt = Array_Check($array,"cnt");
		}
	}
	$sql =  "select count(*) as cnt from mt_kikan where del_flg = '0' and kikan_code like 'WK%'";
	$rset = pg_query($conn,$sql);
	if( $rset ){
		if($array = pg_fetch_assoc($rset)) {
			$kikan_cnt = Array_Check($array,"cnt");
		}
	}
	$sql =  "select count(*) as cnt from mt_sosiki where del_flg = '0' and sosiki_code like '3%'";
	$rset = pg_query($conn,$sql);
	if( $rset ){
		if($array = pg_fetch_assoc($rset)) {
			$sosiki_base_cnt = Array_Check($array,"cnt");
		}
	}
	$sql =  "select count(*) as cnt from mt_sosiki where del_flg = '0' and sosiki_code like 'WK%'";
	$rset = pg_query($conn,$sql);
	if( $rset ){
		if($array = pg_fetch_assoc($rset)) {
			$sosiki_cnt = Array_Check($array,"cnt");
		}
	}
	$sql =  "select count(*) as cnt from mt_kennkyuusya where del_flg = '0' and kennkyuusya_code like '5%'";
	$rset = pg_query($conn,$sql);
	if( $rset ){
		if($array = pg_fetch_assoc($rset)) {
			$kennkyuusya_base_cnt = Array_Check($array,"cnt");
		}
	}
	$sql =  "select count(*) as cnt from mt_kennkyuusya where del_flg = '0' and kennkyuusya_code like 'WK%'";
	$rset = pg_query($conn,$sql);
	if( $rset ){
		if($array = pg_fetch_assoc($rset)) {
			$kennkyuusya_cnt = Array_Check($array,"cnt");
		}
	}

	$name = mb_convert_encoding($name, 'UTF-8', 'sjis-win');
?>
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ラボラトリ・データベース|LDB</title>
    <link rel="shortcut icon" href="img/favicon.ico">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="js/script.js"></script>
    <script src="js/common.js"></script>

    <script type="text/javascript">
        function search_master() {
            prm = "?init=init";
            rtn = window.showModalDialog("no_list.php" + prm, window, "edge:sunken; center:yes; scroll:no; status:no; help:no; dialogHeight:750px; dialogWidth:1000px;");
        }

        function search_master_base() {
            prm = "?init=init";
            rtn = window.showModalDialog("no_list_base.php" + prm, window, "edge:sunken; center:yes; scroll:no; status:no; help:no; dialogHeight:750px; dialogWidth:1000px;");
        }

        function search_nounyu() {
            prm = "?init=exec";
            rtn = window.showModalDialog("no_search.php" + prm, window, "edge:sunken; center:yes; scroll:no; status:no; help:no; dialogHeight:750px; dialogWidth:1000px;");
        }

        function search_contact() {
            prm = "?init=init";
            rtn = window.showModalDialog("ce_list.php" + prm, window, "edge:sunken; center:yes; scroll:no; status:no; help:no; dialogHeight:600px; dialogWidth:800px;");
        }

        function search_jiseki() {
            prm = "?init=init";
            rtn = window.showModalDialog("ji_list.php" + prm, window, "edge:sunken; center:yes; scroll:no; status:no; help:no; dialogHeight:600px; dialogWidth:800px;");
        }

        function kigenCheck() {
            if ('') {
                if (window.confirm('パスワードの有効期間が過ぎています。\n「ＯＫ」をクリックすると「」に自動設定されます。\n\n「キャンセル」を選ぶと、パスワードが変更されるまで\nこのメッセージが表示され、2012年07月13日以降は自動的に\n上記パスワードに変更になります。\n\n＊変更後、現在ご使用中のパスワードでは\nログインできなくなりますのでご注意ください。')) {
                    location.href = "setpass.php";
                }
            }

        }

        function Get_CSV() {
            document.csvfrm.submit();
        }

        function Get_sabunCSV() {
            document.sabuncsvfrm.submit();
        }

        function Get_kariCSV() {
            document.karifrm.submit();
        }

        function delBook() {
            if (confirm('削除しますか？')) {
                document.frm.delmode.value = "1";
                document.frm.submit();
            }
        }

        function delSample() {
            if (confirm('削除しますか？')) {
                document.frm.mode.value = "del";
                document.frm.submit();
            }
        }

        function updSample(seq, v) {
            document.frm.mode.value = "upd";
            document.frm.seq.value = seq;
            document.frm.upd.value = v;
            document.frm.submit();
        }

        function dispOneCustomer(cd, sosiki_code) {
            var iframe = parent.document.getElementById("custpopup");
            iframe.src = "detail/customer.php?sosiki_mode=1&code=" + sosiki_code + "&seq=" + cd;
            iframe.style.top = document.documentElement.scrollTop;
            iframe.style.left = document.documentElement.scrollLeft;
            iframe.style.display = '';
        }

        function dispContact() {
            var iframe = parent.document.getElementById("contpopup");
            iframe.src = "detail/contact-sosiki.html";
           /* iframe.style.top = document.documentElement.scrollTop;
            iframe.style.left = document.documentElement.scrollLeft;*/
            iframe.style.display = '';
        }

        /* function dispOneContact(sosiki, cd){
             var iframe = parent.document.getElementById("contpopup");
             iframe.src = "detail/contact_goods.php?sosiki_mode=1&code="+sosiki+"&seq=" + cd;
             iframe.style.top = document.documentElement.scrollTop;
             iframe.style.left = document.documentElement.scrollLeft;
             iframe.style.display = '';
         }*/

    </script>

</head>
<body onload="kigenCheck()">
<iframe id="tpopup" name="tpopup" width="910" height="700" frameborder="0"
        style="display:none;left:25%;top:70px;border:8px #ffcccc ridge;z-index:1;position:absolute"
        scrolling="auto"></iframe>
<script>
	function menu_search_cont_sample_one_sample(sosiki, cd) {
	    var iframe = parent.document.getElementById("tpopup");
	    iframe.width = "700";
	    iframe.height = "750";
	    iframe.src = "cont_sample_detail.html?sosiki_mode=1&code="+sosiki+"&seq=" + cd;
	    iframe.style.display = '';
	}
    function menu_search_one_mitsumori(seq) {
        var iframe = parent.document.getElementById("tpopup");
        iframe.width = "920";
        iframe.height = "850";
        iframe.src = "syodan_mitsumori.html";
        iframe.style.display = '';
    }

    function menu_search_one_mitsu(seq) {
        var iframe = parent.document.getElementById("tpopup");
        iframe.width = "920";
        iframe.height = "850";
        iframe.src = "syodan_mitsu.html";
        iframe.style.display = '';
    }

    function menu_search_one_bulk(seq) {
        var iframe = parent.document.getElementById("tpopup");
        iframe.width = "920";
        iframe.height = "850";
        iframe.src = "syodan_bulk.html" + seq;
        iframe.style.display = '';
    }

    function menu_search_one_jyutaku(seq) {
        var iframe = parent.document.getElementById("tpopup");
        iframe.width = "920";
        iframe.height = "850";
        iframe.src = "syodan_hikiaphp?sosiki_code=&mode=one&ltype=1&seq=" + seq;
        iframe.style.display = '';
    }

    function menu_search_one_hiki(seq) {
        var iframe = parent.document.getElementById("tpopup");
        iframe.width = "920";
        iframe.height = "850";
        iframe.src = "syodan_hikiai.html";
        iframe.style.display = '';
    }

    function menu_search_one_kesei(seq) {
        var iframe = parent.document.getElementById("tpopup");
        iframe.width = "920";
        iframe.height = "850";
        iframe.src = "syodan_kesei.php?sosiki_code=&mode=one&ltype=1&seq=" + seq;
        iframe.style.display = '';
    }

    function menu_search_one_sample(seq) {
        var iframe = parent.document.getElementById("tpopup");
        iframe.width = "920";
        iframe.height = "700";
        iframe.src = "syodan_sample.html";
        iframe.style.display = '';
    }

    function menu_search_one_zouki(seq) {
        var iframe = parent.document.getElementById("tpopup");
        iframe.width = "920";
        iframe.height = "700";
        iframe.src = "syodan_zouki.html?sosiki_code=&mode=one&ltype=1&seq=" + seq;
        iframe.style.display = '';
    }

    function menu_search_one_fax(seq) {
        var iframe = parent.document.getElementById("tpopup");
        iframe.width = "920";
        iframe.height = "700";
        iframe.src = "syodan_fax.php?sosiki_code=&mode=one&t_seq=0&ltype=1&seq=" + seq;
        iframe.style.display = '';
    }

    function menu_search_one_tyokuso(seq) {
        var iframe = parent.document.getElementById("tpopup");
        iframe.width = "920";
        iframe.height = "700";
        iframe.src = "syodan_tyokuso.php?sosiki_code=&mode=one&t_seq=0&ltype=1&seq=" + seq;
        iframe.style.display = '';
    }

    function menu_search_one_hen(seq) {
        var iframe = parent.document.getElementById("tpopup");
        iframe.width = "920";
        iframe.height = "700";
        iframe.src = "syodan_hen.php?sosiki_code=&mode=one&t_seq=0&ltype=1&seq=" + seq;
        iframe.style.display = '';
    }

    function menu_search_one_syanai(seq) {
        var iframe = parent.document.getElementById("tpopup");
        iframe.width = "920";
        iframe.height = "700";
        iframe.src = "syodan_syanai.php?sosiki_code=&mode=one&t_seq=0&ltype=1&seq=" + seq;
        iframe.style.display = '';
    }

    function menu_search_one_henren(seq) {
        var iframe = parent.document.getElementById("tpopup");
        iframe.width = "920";
        iframe.height = "700";
        iframe.src = "syodan_henren.php?sosiki_code=&mode=one&t_seq=0&ltype=1&seq=" + seq;
        iframe.style.display = '';
    }

    function menu_search_one_syohin(seq) {
        var iframe = parent.document.getElementById("tpopup");
        iframe.width = "920";
        iframe.height = "700";
        iframe.src = "syodan_syohin.htmml?sosiki_code=&mode=one&t_seq=0&ltype=1&seq=" + seq;
        iframe.style.display = '';
    }

    function menu_search_one_toi(seq) {
        var iframe = parent.document.getElementById("tpopup");
        iframe.width = "920";
        iframe.height = "700";
        iframe.src = "syodan_toi.php?sosiki_code=&mode=one&t_seq=0&ltype=1&seq=" + seq;
        iframe.style.display = '';
    }

    function menu_search_one_msds(seq) {
        var iframe = parent.document.getElementById("tpopup");
        iframe.width = "920";
        iframe.height = "700";
        iframe.src = "syodan_msds.php?sosiki_code=&mode=one&t_seq=0&ltype=1&seq=" + seq;
        iframe.style.display = '';
    }

    function menu_search_one_catalog(seq) {
        var iframe = parent.document.getElementById("tpopup");
        iframe.width = "920";
        iframe.height = "700";
        iframe.src = "syodan_catalog.html?sosiki_code=&mode=one&t_seq=0&ltype=1&seq=" + seq;
        iframe.style.display = '';
    }

    function menu_news_list() {
        var iframe = parent.document.getElementById("tpopup");
        iframe.width = "920";
        iframe.height = "850";
        iframe.src = "news_list_1.html";
        iframe.style.display = '';
    }

    function menu_search_one_news_u(seq) {
        var iframe = parent.document.getElementById("tpopup");
        iframe.width = "920";
        iframe.height = "700";
        iframe.src = "syodan_news_u.html?mode=one&t_seq=0&ltype=1&seq=" + seq;
        iframe.style.display = '';
    }

    function menu_search_one_news_d(seq) {
        var iframe = parent.document.getElementById("tpopup");
        iframe.width = "920";
        iframe.height = "700";
        iframe.src = "syodan_news_d.html?mode=one&t_seq=0&ltype=1&seq=" + seq;
        iframe.style.display = '';
    }

    function menu_daily_list() {
        var iframe = parent.document.getElementById("tpopup");
        iframe.width = "920";
        iframe.height = "700";
        iframe.src = "daily_list_1.html";
        iframe.style.display = '';
    }

    function menu_search_one_daily_u(seq) {
        var iframe = parent.document.getElementById("tpopup");
        iframe.width = "1020";
        iframe.height = "700";
        iframe.src = "syodan_daily_u.html?mode=one&t_seq=0&ltype=1&seq=" + seq;
        iframe.style.display = '';
    }

    function menu_search_one_daily_d(seq) {
        var iframe = parent.document.getElementById("tpopup");
        iframe.width = "1020";
        iframe.height = "700";
        iframe.src = "syodan_daily_d.html?mode=one&t_seq=0&ltype=1&seq=" + seq;
        iframe.style.display = '';
    }
</script>
<iframe id="contpopup" name="contpopup" width="700" height="770" frameborder="0"
        style="display:none;left:32%;top:70px;border:8px #ffcccc ridge;z-index:999;position:absolute"></iframe>
<header class="header">
    <div class="header-inner">
        <div class="header-left">
            <div class="header-trigger hover-white no-pc"><i class="icon fas fa-bars"></i></div>
        </div>
        <h1 class="logo">LDB</h1>
        <div class="header-data flex-row vertical-middle pc-only">
            <p class="user-data"><?=$name;?>様</p>
            <button class="sign-out btn btn-link" onClick="window.location.href='logout.html'"><i class="fas fa-sign-out-alt"></i>ログアウト</button>
        </div>
    </div>
</header>
<div class="wrapper">
    <div class="side-wrap" id="side-wrap">
	<script>
	    $("#side-wrap").load("menu_navigation.html");
	</script>
	<div class="nav-data no-pc">
	    <p class="user-data"><a href="top.html">ホーム</a></p>
	    <button class="sign-out btn btn-link"><i class="fas fa-sign-out-alt"></i>ログアウト</button>
	</div>
    </div>
    <div class="main-wrap">
        <div class="main-content">
            <!-- 第一組織一覧 -->
            <form name="frm">
				<input type="hidden" name="delmode" value="">
<?php
    pg_set_client_encoding($conn, "UTF-8");
	$sql =  "select to_char(h_u_date, 'yyyy/mm/dd') as udate, 'バルク' as mtype, * from syodan_bulk where h_rank in ('進行中') and h_u_date < now() + '-1 Day' ";
	$sql .= " and h_company_no = '${company_no}' ";
	if( $name != "小林（智）" && $name != "村上" && $name != "川嶋" && $name != "本多" ){
		$sql .= " and s_tantou = '".$name."'";
	}
	$rset = pg_query($conn,$sql);
	$all_cnt = pg_num_rows($rset);

    if($all_cnt){
?>
                <div class="content-wrap white-box mb-4">
                    <div class="table-scroll h300">
                        <table class="data-table">
                            <th align="left" bgcolor="#000088" style="color:#fff;"> アラート一覧 （アラート件数　<?=$all_cnt?>件）</th>
                            <th align="right" bgcolor="#000088" class="text-light">
                                <button type="button" class="s-btn btn-gray" onclick="dl()">DL</button>
                            </th>
                        </table>
                        <table class="data-table border">
                            <thead>
                            <tr>
                                <th>業務種別</th>
                                <th>更新日</th>
                                <th>施設担当</th>
                                <th>メーカー</th>
                                <th>機関名</th>
                                <th>組織名</th>
                                <th>案件名</th>
                                <th>詳細</th>
                            </tr>
                            </thead>
                            <tbody>
<?php
	$seq = 0;
	if($rset) {
	while($array = pg_fetch_assoc($rset)) {
	    $seq ++;
	    $h_seq = Array_Check($array,"h_seq");
	    $sql  = "select * \n";
	    $sql .= "  from syodan_bulk_goods \n";
	    $sql .= " where hg_parent_seq = '".pg_escape_string($h_seq)."' order by hg_seq";
	    $GData = DBSelect($sql);
	    $maker = $GData["Data"][0]["hg_maker_name"];
	    $h_hikiai_no = Array_Check($array,"h_hikiai_no");
	    $mtype = Array_Check($array,"mtype");
	    $udate = Array_Check($array,"udate");
	    $s_tantou = Array_Check($array,"s_tantou");
	    $b_kikan_name = Array_Check($array,"b_kikan_name");
	    $b_kikan_code = Array_Check($array,"b_kikan_code");
	    $b_sosiki_name = Array_Check($array,"b_sosiki_name");
	    $b_sosiki_code = Array_Check($array,"b_sosiki_code");
	    $anken = Array_Check($array,"h_tyokuhan");
	    $bg = "style='background-color:#DDFFFF'";
?>
                            <tr>
                              <td><?=htmlspecialchars($mtype, ENT_QUOTES)?></td>
                              <td><?=htmlspecialchars($udate, ENT_QUOTES)?></td>
                              <td><?=htmlspecialchars($s_tantou, ENT_QUOTES)?></td>
                              <td><?=htmlspecialchars($maker, ENT_QUOTES)?></td>
                              <td><a target="_blank" href="kikan-detail.html?kikan_code=<?=$b_kikan_code?>"><?=htmlspecialchars($b_kikan_name, ENT_QUOTES)?></a></td>
                              <td><a target="_blank" href="sosiki-detail.html?sosiki_code=<?=$b_sosiki_code?>"><?=htmlspecialchars($b_sosiki_name, ENT_QUOTES)?></a></td>
                              <td><?=htmlspecialchars($anken, ENT_QUOTES)?></td>
                              <td><a href="JavaScript:menu_search_one_bulk('<?=$h_seq?>');">詳細</a></td>
                            </tr>
<?php
			}
		}
?>
                            </tbody>
                        </table>
                    </div>
                </div>
<?php
	}
?>
<?php
	pg_set_client_encoding($conn, "UTF-8");
	$sql =  "select *, ldb_kikan_code_from_sosiki_code(code) as kikan_code, ldb_kikan_name(ldb_kikan_code_from_sosiki_code(code)) as kikan_name, all_sosiki_name_only(code) as sosiki_name, to_char(utime, 'yyyy/mm/dd') as utimed from bookmark";
	$sql .= " where company_no = '${company_no}' ";
	$sql .= " and id = '${staff_no}'";
	$rset = pg_query($conn,$sql);
	$all_cnt = pg_num_rows($rset);

	if($all_cnt){
?>
                <div class="content-wrap white-box mb-4">
                    <div class="table-scroll h300">
                        <table class="data-table">
                            <th align="left" bgcolor="#000088" style="color:#fff;"> 登録ラボ一覧 （登録件数　<?=$all_cnt?>件）</th>
                            <th align="right" bgcolor="#000088" class="text-light">
                                <a href="JavaScript:view_list_title(reg_title, reg_list, document.frm.reg_arrow, '150px')">
                                    <img name="reg_arrow" src="img/Open.gif">
                                </a>
                            </th>
                        </table>
                        <table class="data-table border">
                            <thead id="reg_title">
                            <tr>
                                <th class="align-center"><button type="button" class="s-btn btn-gray" onclick="delBook()">削除</button></th>
                                <th class="align-center">SEQ</th>
                                <th class="align-center">機関名（会社名）</th>
                                <th class="align-center">組織名</th>
                                <th class="align-center">納入実績</th>
                                <th class="align-center">コンタクト</th>
                            </tr>
                            </thead>
                            <tbody id="reg_list">
<?php
    $bg = "";
    $seq = 0;
    if($rset) {
	while($array = pg_fetch_assoc($rset)) {
		$seq ++;
		$kikan_code = Array_Check($array,"kikan_code");
		$sosiki_code = Array_Check($array,"code");
		$kikan  = Array_Check($array,"kikan_name");
		$sosiki = Array_Check($array,"sosiki_name");
		$btn_kikan = "";
		$btn_sosiki = "";
		$btn_kennkyuusya = "";
		$target_flg = "";
		$nounyu_flg = "";
		$contact_flg = "";
		$customer_flg = "";
		$rmain_flg = "";
		$sql = "SELECT max(regdate) as reg FROM contact WHERE company_no = '${company_no}' AND sosiki_code = '${sosiki_code}' LIMIT 1";
		$rs = pg_query($conn, $sql);
		if($rs) {
			if($ar = pg_fetch_assoc($rs)) {
				$contact_flg = Array_Check($ar,"reg");
			}
		}
		$sql = "SELECT * FROM uriage WHERE sosiki_code = '${sosiki_code}' LIMIT 1";
		$rs = pg_query($conn, $sql);
		if($rs) {
			if($ar = pg_fetch_assoc($rs)) {
				$nounyu_flg = "○";
			}
		}
		$bg = "style='background-color:#DDFFFF'";
?>
                            <tr>
                                <td align="center"><input type="checkbox" name="delchk[]" value="<?=htmlspecialchars($sosiki_code, ENT_QUOTES)?>"></td>
                                <td align="center"><?=htmlspecialchars($seq, ENT_QUOTES)?></td>
                                <td><a target="_blank" href="kikan-detail.html?kikan_code=<?=$kikan_code?>"><?=htmlspecialchars($kikan, ENT_QUOTES)?></a></td>
                                <td><a target="_blank" href="sosiki-detail.html?sosiki_code=<?=$sosiki_code?>"><?=htmlspecialchars($sosiki, ENT_QUOTES)?></a></td>
                                <td align="center"><?=$nounyu_flg?></td>
                                <td align="center"><?=$contact_flg?></td>
                            </tr>
<?php
			}
		}
?>
                            </tbody>
                        </table>
                    </div>
                </div>
<?php
	}
?>

<input type="hidden" name="mode" value="">
<input type="hidden" name="seq" value="">
<input type="hidden" name="upd" value="">

<?php
	$cont_rec = "";
	pg_set_client_encoding($conn, "UTF-8");

	$sql  = "select *, substr(comment, 1, 50) as com from contact ";
	$sql .= " where company_no = '${company_no}'";
	$sql .= " and trim(id) = trim('${id}')";
	$sql .= " and sosiki_code <> ''";
	$sql .= " order by regdate desc, utime desc limit 5";
	$rset = pg_query($conn,$sql);
	$cont_cnt = pg_num_rows($rset);

	if($rset) {
		while($array = pg_fetch_assoc($rset)) {
			$kikan_code = "";
			$kikan_name = "";
			$sosiki_name = "";
			$sosiki_code = Array_Check($array,"sosiki_code");

			if( $sosiki_code ){
				$s = "select kikan_code, sosiki_name from mt_sosiki where sosiki_code = '".$sosiki_code."'";
				$r = pg_query($conn,$s);
				if($ar = pg_fetch_assoc($r)){
					$kikan_code = Array_Check($ar,"kikan_code");
					$sosiki_name = Array_Check($ar,"sosiki_name");
				}
			}
			if( $kikan_code ){
				$s = "select kikan_name from mt_kikan where kikan_code = '".$kikan_code."'";
				$r = pg_query($conn,$s);
				if($ar = pg_fetch_assoc($r)){
					$kikan_name = Array_Check($ar,"kikan_name");
				}
			}

			$seq = Array_Check($array,"seq");
			$regdate = Array_Check($array,"regdate");
			$member_name = Array_Check($array,"member_name");
			$member_group = Array_Check($array,"member_group");
			$goods_group = Array_Check($array,"goods_group");
			$goods_name = Array_Check($array,"goods_name");
			$goods_group1 = Array_Check($array,"goods_group1");
			$goods_name1 = Array_Check($array,"goods_name1");
			$goods_group2 = Array_Check($array,"goods_group2");
			$goods_name2 = Array_Check($array,"goods_name2");
			$goods_group3 = Array_Check($array,"goods_group3");
			$goods_name3 = Array_Check($array,"goods_name3");
			$goods_group4 = Array_Check($array,"goods_group4");
			$goods_name4 = Array_Check($array,"goods_name4");
			$comment = Array_Check($array,"comment");
			$com = Array_Check($array,"com");
			$status = Array_Check($array,"status");
			$sosiki_code = Array_Check($array,"sosiki_code");
			$kennkyuusya_name = "";
			$kennkyuusya_code = Array_Check($array,"kennkyuusya_code");
			if( $kennkyuusya_code ) {
				$sql  = "select name from mt_kennkyuusya ";
				$sql .= " where kennkyuusya_code = '${kennkyuusya_code}'";
				$rs = pg_query($conn,$sql);
				if($ar = pg_fetch_assoc($rs)) {
					$kennkyuusya_name = Array_Check($ar,"name");
				}
			}
			$color = "";
			$cont_rec .= "<tr>\n";
			$cont_rec .= "    <td><a href='JavaScript:void(0)' onclick=\"menu_search_cont_sample_one_sample('".$sosiki_code."','".$seq."')\">${regdate}</a></td>\n";
			$cont_rec .= "    <td><a target='_blank' href='kikan-detail.html?kikan_code=${kikan_code}'>${kikan_name}</a></td>\n";
			$cont_rec .= "    <td><a target='_blank' href='sosiki-detail.html?sosiki_code=${sosiki_code}'>${sosiki_name}</a></td>\n";
	    	$cont_rec .= "    <td>${goods_group}"."</td>\n";
		    $cont_rec .= "    <td>${goods_name}"."</td>\n";
			$cont_rec .= "    <td><div style='white-space:pre-wrap;'>${com}</div></td>\n";
			$cont_rec .= "    <td>${status}</td>\n";
			$cont_rec .= "    <td>${kennkyuusya_name}</td>\n";
			$cont_rec .= "</tr>";
		} // end while
	} // end if

	if( $cont_cnt ){
?>
                <div class="content-wrap white-box">
                    <div class="table-scroll h300">
                        <table class="data-table">
                            <th align="left" bgcolor="#000088" style="color:#fff;">コンタクトレコード（最新<?=$cont_cnt?>件）</th>
                            <th align="right" bgcolor="#000088" class="text-light">
                                <button type="button" name="btnCon" class="s-btn btn-gray" onclick="dispContact()">追加</button>
                                <a href="JavaScript:view_list_title(cont_title, cont_list, document.frm.cont_arrow, '150px')">
                                    <img name="cont_arrow" src="img/Open.gif">
                                </a>
                            </th>
                        </table>
                        <table class="data-table border">
                            <thead id="cont_title">
                            <tr>
                                <th align="center">日付</th>
                                <th align="center">機関名</th>
                                <th align="center">組織名</th>
                                <th align="center">メーカー</th>
                                <th align="center">製品名</th>
                                <th align="center">内容</th>
                                <th align="center">手段</th>
                                <th align="center">研究者名</th>
                            </tr>
                            </thead>
                            <tbody id="cont_list">
                            <?=$cont_rec?>
                            </tbody>
                        </table>
                    </div>
                </div>
<?php
	}
?>

            </form>
        </div>
    </div>
    <footer class="footer">
        <small class="copyright">&copy; 2019 sagbrain</small>
    </footer>
</div>
</body>
</html>
