<?php
	require_once "include/auth_utf.inc";
	require_once "include/parts_utf.inc";
	require_once "include/tlib_utf.inc";

	$filename = basename($_SERVER['SCRIPT_NAME']);

	$company_no   = $_SESSION["company_no"];
	$staff_no     = $_SESSION["staff_no"];
	$member_roll  = $_SESSION["member_roll"];
	$member_roll1 = $_SESSION["member_roll1"];
	$member_roll2 = $_SESSION["member_roll2"];
	$member_roll3 = $_SESSION["member_roll3"];
	$member_roll4 = $_SESSION["member_roll4"];

	if( trim($staff_no) == "FNadmin" || trim($staff_no) == "fn136" ){
		$member_roll  = "1";
		$member_roll1 = "1";
		$member_roll2 = "1";
		$member_roll3 = "1";
		$member_roll4 = "1";
	}

	$conn = Get_Conn();
	pg_query($conn, "set client_encoding=UNICODE");

	$kengen = $_SESSION["kengen"];

	$mode  = Array_Check($_GET,"mode");

	// 検索用パラメータ
	$kennkyuusya = Array_Check($_GET,"kennkyuusya");
	$search_cid = Array_Check($_GET,"search_cid");
	$search_scid = Array_Check($_GET,"search_scid");
	$search_maker = Array_Check($_GET,"search_maker");
	$search_keyword = Array_Check($_GET,"search_keyword");
	$search_kikan_name = Array_Check($_GET,"search_kikan_name");
	$search_kikan_code = Array_Check($_GET,"search_kikan_code");
	$search_kikan_pref = Array_Check($_GET,"search_kikan_pref");
	$search_sosiki_name = Array_Check($_GET,"search_sosiki_name");
	$search_sosiki_code = Array_Check($_GET,"search_sosiki_code");
	$search_kennkyuusya_name = Array_Check($_GET,"search_kennkyuusya_name");
	$search_addr = Array_Check($_GET,"search_addr");
	$search_del = Array_Check($_GET,"search_del");

	$rset = "";
	$sql = "";
	$message = "";
	$rset_count = 0;
	$all_cnt = 0;

    $start_no = Array_Check($_GET,"start_no");
    if( ! $start_no && $mode ){
		$start_no = 0;
    }

    $disp_cnt = Array_Check($_GET,"disp_cnt");
    if( ! $disp_cnt ){
		$disp_cnt = 500;
    }

	$w = "";
	$ans = "";
	if ($mode == "search") { // 機関コードがある場合のみ検索
		$del_chk = 0;
	// 検索
		$sql =  "select web.*, fn_kaiin_master.*, ldb_kikan_name(kikan_code) as kikan_name, all_sosiki_name_only(sosiki_code) as sosiki_name ";
		$sql .= " from web, fn_kaiin_master ";
		$sql .= " where fn_kaiin_master.scid = web.scid and fn_kaiin_master.kikan_code <> '' and fn_kaiin_master.sosiki_code <> '' ";

		// 検索条件
		if ($search_kikan_name != "") {
			$w .= "   and ldb_kikan_name(kikan_code) like '%".$search_kikan_name."%' ";
		}
		if ($search_kikan_pref != "") {
			$w .= "   and pref = '".$search_kikan_pref."' ";
		}
		if ($search_sosiki_name != "") {
			$sn = str_replace('　', ' ', trim($search_sosiki_name));
			$d = explode(' ', $sn);
			foreach ($d as $value) {
				$value = mb_strtoupper( mb_convert_kana( $value, "AK", "sjis-win" ), "sjis-win" );
				$w .= "   and translate(upper(all_sosiki_name(sosiki_code)), '-0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZ', '"."－０１２３４５６７８９ＡＢＣＤＥＦＧＨＩＪＫＬＭＮＯＰＱＲＳＴＵＶＷＸＹＺ"."') like '%".$value."%' ";
			}
		}
		if ($search_kennkyuusya_name != "") {
			$w .= "   and ( replace(name, '"."　"."', '') like '%".str_replace("　", "", str_replace(" ", "",$search_kennkyuusya_name))."%' ";
			$w .= "   or replace(kana, '"."　"."', '') like '%".str_replace("　", "", str_replace(" ", "", $search_kennkyuusya_name))."%') ";
		}
		if ($search_addr != "") {
			$w .= "   and ora_nvl(addr1, '') || ora_nvl(addr2, '') like '%".$search_addr."%' ";
		}
		if ($search_scid != "") {
			$w .= "   and web.scid like '%".$search_scid."%' ";
		}
		if ($search_cid != "") {
			$w .= "   and web.cid like '%".$search_cid."%' ";
		}
		if ($search_maker != "") {
			$w .= "   and maker like '%".$search_maker."%' ";
		}
		if ($search_keyword != "") {
			$w .= "   and keyword like '%".$search_keyword."%' ";
		}

		$sql .= $w;

		$rset = pg_query($conn,$sql);
		$all_cnt = pg_num_rows($rset);
	}

	if ($mode == "search") {
		$sql .= " order by date desc ";
		$sql .= " offset ${start_no}";
		$sql .= " limit ${disp_cnt}";

		$rset = pg_query($conn,$sql);
		$rset_count = pg_num_rows($rset);
	}
?>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>閲覧履歴検索|LDB</title>
	<link rel="shortcut icon" href="img/favicon.ico">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
		  integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/style.css">
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"
			integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/i18n/jquery.ui.datepicker-ja.min.js"></script>
	<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/redmond/jquery-ui.css">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.bundle.min.js"></script>
	<script src="js/script.js"></script>
	<script src="js/script-active-menu.js"></script>
</head>
<body>
<iframe id="tpopup" name="tpopup" width="910" height="700" frameborder="0"
		style="display:none;left:25%;top:70px;border:8px #ffcccc ridge;z-index:1;position:absolute"
		scrolling="auto"></iframe>
<script>
    function menu_search_one_mitsumori(seq) {
        var iframe = parent.document.getElementById("tpopup");
        iframe.width = "920";
        iframe.height = "850";
        iframe.src = "syodan_mitsumori.html";
        iframe.style.display = '';
    }

    function menu_search_one_mitsu(seq) {
        var iframe = parent.document.getElementById("tpopup");
        iframe.width = "920";
        iframe.height = "850";
        iframe.src = "syodan_mitsu.html";
        iframe.style.display = '';
    }

    function menu_search_one_bulk(seq) {
        var iframe = parent.document.getElementById("tpopup");
        iframe.width = "920";
        iframe.height = "850";
        iframe.src = "syodan_bulk.html" + seq;
        iframe.style.display = '';
    }

    function menu_search_one_jyutaku(seq) {
        var iframe = parent.document.getElementById("tpopup");
        iframe.width = "920";
        iframe.height = "850";
        iframe.src = "syodan_hikiai2.php?sosiki_code=&mode=one&ltype=1&seq=" + seq;
        iframe.style.display = '';
    }

    function menu_search_one_hiki(seq) {
        var iframe = parent.document.getElementById("tpopup");
        iframe.width = "920";
        iframe.height = "850";
        iframe.src = "syodan_hikiai.html";
        iframe.style.display = '';
    }

    function menu_search_one_kesei(seq) {
        var iframe = parent.document.getElementById("tpopup");
        iframe.width = "920";
        iframe.height = "850";
        iframe.src = "syodan_kesei.php?sosiki_code=&mode=one&ltype=1&seq=" + seq;
        iframe.style.display = '';
    }

    function menu_search_one_sample(seq) {
        var iframe = parent.document.getElementById("tpopup");
        iframe.width = "920";
        iframe.height = "700";
        iframe.src = "syodan_sample.html";
        iframe.style.display = '';
    }

    function menu_search_one_zouki(seq) {
        var iframe = parent.document.getElementById("tpopup");
        iframe.width = "920";
        iframe.height = "700";
        iframe.src = "syodan_zouki.php?sosiki_code=&mode=one&ltype=1&seq=" + seq;
        iframe.style.display = '';
    }

    function menu_search_one_fax(seq) {
        var iframe = parent.document.getElementById("tpopup");
        iframe.width = "920";
        iframe.height = "700";
        iframe.src = "syodan_fax.php?sosiki_code=&mode=one&t_seq=0&ltype=1&seq=" + seq;
        iframe.style.display = '';
    }

    function menu_search_one_tyokuso(seq) {
        var iframe = parent.document.getElementById("tpopup");
        iframe.width = "920";
        iframe.height = "700";
        iframe.src = "syodan_tyokuso.php?sosiki_code=&mode=one&t_seq=0&ltype=1&seq=" + seq;
        iframe.style.display = '';
    }

    function menu_search_one_hen(seq) {
        var iframe = parent.document.getElementById("tpopup");
        iframe.width = "920";
        iframe.height = "700";
        iframe.src = "syodan_hen.php?sosiki_code=&mode=one&t_seq=0&ltype=1&seq=" + seq;
        iframe.style.display = '';
    }

    function menu_search_one_syanai(seq) {
        var iframe = parent.document.getElementById("tpopup");
        iframe.width = "920";
        iframe.height = "700";
        iframe.src = "syodan_syanai.php?sosiki_code=&mode=one&t_seq=0&ltype=1&seq=" + seq;
        iframe.style.display = '';
    }

    function menu_search_one_henren(seq) {
        var iframe = parent.document.getElementById("tpopup");
        iframe.width = "920";
        iframe.height = "700";
        iframe.src = "syodan_henren.php?sosiki_code=&mode=one&t_seq=0&ltype=1&seq=" + seq;
        iframe.style.display = '';
    }

    function menu_search_one_syohin(seq) {
        var iframe = parent.document.getElementById("tpopup");
        iframe.width = "920";
        iframe.height = "700";
        iframe.src = "syodan_syohin.php?sosiki_code=&mode=one&t_seq=0&ltype=1&seq=" + seq;
        iframe.style.display = '';
    }

    function menu_search_one_toi(seq) {
        var iframe = parent.document.getElementById("tpopup");
        iframe.width = "920";
        iframe.height = "700";
        iframe.src = "syodan_toi.php?sosiki_code=&mode=one&t_seq=0&ltype=1&seq=" + seq;
        iframe.style.display = '';
    }

    function menu_search_one_msds(seq) {
        var iframe = parent.document.getElementById("tpopup");
        iframe.width = "920";
        iframe.height = "700";
        iframe.src = "syodan_msds.php?sosiki_code=&mode=one&t_seq=0&ltype=1&seq=" + seq;
        iframe.style.display = '';
    }

    function menu_search_one_catalog(seq) {
        var iframe = parent.document.getElementById("tpopup");
        iframe.width = "920";
        iframe.height = "700";
        iframe.src = "syodan_catalog.php?sosiki_code=&mode=one&t_seq=0&ltype=1&seq=" + seq;
        iframe.style.display = '';
    }

    function menu_news_list() {
        var iframe = parent.document.getElementById("tpopup");
        iframe.width = "920";
        iframe.height = "850";
        iframe.src = "news_list_1.php";
        iframe.style.display = '';
    }

    function menu_search_one_news_u(seq) {
        var iframe = parent.document.getElementById("tpopup");
        iframe.width = "920";
        iframe.height = "700";
        iframe.src = "syodan_news_u.php?mode=one&t_seq=0&ltype=1&seq=" + seq;
        iframe.style.display = '';
    }

    function menu_search_one_news_d(seq) {
        var iframe = parent.document.getElementById("tpopup");
        iframe.width = "920";
        iframe.height = "700";
        iframe.src = "syodan_news_d.php?mode=one&t_seq=0&ltype=1&seq=" + seq;
        iframe.style.display = '';
    }

    function menu_daily_list() {
        var iframe = parent.document.getElementById("tpopup");
        iframe.width = "920";
        iframe.height = "700";
        iframe.src = "daily_list_1.php";
        iframe.style.display = '';
    }

    function menu_search_one_daily_u(seq) {
        var iframe = parent.document.getElementById("tpopup");
        iframe.width = "1020";
        iframe.height = "700";
        iframe.src = "syodan_daily_u.php?mode=one&t_seq=0&ltype=1&seq=" + seq;
        iframe.style.display = '';
    }

    function menu_search_one_daily_d(seq) {
        var iframe = parent.document.getElementById("tpopup");
        iframe.width = "1020";
        iframe.height = "700";
        iframe.src = "syodan_daily_d.php?mode=one&t_seq=0&ltype=1&seq=" + seq;
        iframe.style.display = '';
    }

    function search() {
		document.frm.method = "GET";
		document.frm.mode.value = "search";
		document.frm.start_no.value = "0";
		document.frm.submit();
    }

	function wreset(){
		location.href = "<?=$filename?>";
	}
</script>
<header class="header">
	<div class="header-inner" id="header-inner-gener">
		<script>
            $("#header-inner-gener").load("header.html");
		</script>
	</div>
</header>
<div class="wrapper">

	<div class="side-wrap" id="side-wrap">
		<script>
            $("#side-wrap").load("menu_navigation.html");
		</script>
		<div class="nav-data no-pc">
			<p class="user-data">ホーム</p>
			<button class="sign-out btn btn-link"><i class="fas fa-sign-out-alt"></i>ログアウト</button>
		</div>
	</div>
	<div class="main-wrap">
		<div class="main-content">
			<h2 class="content-title">閲覧履歴検索</h2>
			<div class="search-wrap white-box content-wrap">
				<form id="frm" name="frm" method="GET" style="margin:5px;">
				<input type="hidden" name="kikan_code" value="">
				<input type="hidden" name="kikan_name" value="">
				<input type="hidden" name="sosiki_code" value="">
				<input type="hidden" name="sosiki_name" value="">
				<input type="hidden" value="<?=$start_no?>" name="start_no">
				<input type="hidden" name="basefile" value="<?=$filename?>">
				<input type="hidden" name="mode" value="<?=$mode?>">
				<input type="hidden" name="delete_kikan_code" value="">
				<input type="hidden" name="message" value="<?=$message?>">
				<table class="detail-table responsive">
					<tbody>
					<tr>
						<td class="search-item">
							<p class="label">Webページ番号</p>
							<input class="search-input" type="text" name="search_cid" value="<?=$search_cid?>" >
						</td>
						<td class="search-item">
							<p class="label">メーカー</p>
							<input class="search-input" type="text" name="search_maker" value="<?=$search_maker?>" >
						</td>
					</tr>
					</tbody>
				</table>
				<table class="detail-table responsive">
					<tbody>
					<tr>
						<td class="search-item" style="width: 50%">
							<p class="label">キーワード</p>
							<input class="search-input" type="text" name="search_keyword" value="<?=$search_keyword?>" >
						</td>
						<td class="search-item" style="width: 20%">
							<p class="label">都道府県</p>
							<select class="search-input" name="search_kikan_pref" style="width: 75%">
								<option value="" selected="">選択して下さい</option>
								<?=Select_Option_pref("mt_pref", "pref_code", "pref_name", $search_kikan_pref)?>
							</select>
						</td>
						<td></td>
					</tr>
					</tbody>
				</table>
				<table class="detail-table responsive">
					<tbody>
					<tr>
						<td class="search-item" style="width: 50%">
							<p class="label">機関名（会社名）</p>
							<input class="search-input" type="text" id="search_kikan_name" name="search_kikan_name" value="<?=$search_kikan_name?>" >
						</td>
						<td class="search-item">
							<p class="label">組織名（旧組織名・通称名）</p>
							<input class="search-input" type="text" id="search_sosiki_name" name="search_sosiki_name" value="<?=$search_sosiki_name?>" >
						</td>
					</tr>
					<tr>
						<td class="search-item" style="width: 50%">
							<p class="label">研究者名（カタカナ可）</p>
							<input class="search-input" type="text" name="search_kennkyuusya_name" value="<?=$search_kennkyuusya_name?>" >
						</td>
						<td class="search-item">
							<p class="label">住所</p>
							<input class="search-input" type="text" name="search_addr" value="<?=$search_addr?>" >
						</td>
					</tr>
					<tr>
						<td class="search-item" colspan="2">
							<p class="label">表示件数</p>
							<select name="disp_cnt">
								<option value="10">10件</option>
								<option value="30">30件</option>
								<option value="100">100件</option>
								<option value="500">500件</option>
							</select>
						</td>
					</tr>
					</tbody>
				</table>
				<div class="btn-wrap flex-row-responsive space-between">
					<div class="flex-item align-right">
						<input type="button" value="検索条件クリア" style="width:120px;" onClick="wreset()"/>
						<input type="button" name="exec" onClick="search()" value="　検　索　">
					</div>
				</div>
				</form>
			</div>
			<div class="reslut-wrap content-wrap">
				<dl class="data-num flex-row">
					<dt>ラボ・研究者一覧</dt>
					<dd>（ <span class="bold">検索件数　<?=$all_cnt?></span>件 ）</dd>
				</dl>
				<div class="table-scroll">
					<table class="data-table">
						<thead>
						<tr>
							<th>機関</th>
							<th>組織名</th>
							<th>研究者名</th>
							<th>メーカー</th>
							<th>ページタイトル</th>
						</tr>
						</thead>
						<tbody>
<?php

    $bg = "";
    $seq = $start_no;
    if( $rset) {
	while($array = pg_fetch_assoc($rset)) {
	    $seq ++;
	    $kikan  = Array_Check($array,"kikan_name");
	    $sosiki = Array_Check($array,"sosiki_name");
	    $kikan_code  = Array_Check($array,"kikan_code");
	    $sosiki_code = Array_Check($array,"sosiki_code");
	    $knname  = Array_Check($array,"name");
	    $maker  = Array_Check($array,"maker");
	    $mode_flg = Array_Check($array,"mode_flg");
	    $page_title = Array_Check($array,"page_title");
	    $keyword  = Array_Check($array,"keyword");
	    if( $mode_flg == "1" ){
			$maker = "検索";
			$page_title = $keyword;
	    }
?>
						<tr>
							<td><a target="_blank" href="kikan-detail.html?kikan_code=<?=$kikan_code?>"><?=htmlspecialchars($kikan, ENT_QUOTES)?></a></td>
							<td><a target="_blank" href="sosiki-detail.html?sosiki_code=<?=$sosiki_code?>"><?=htmlspecialchars($sosiki, ENT_QUOTES)?></a></td>
							<td><?=htmlspecialchars($knname, ENT_QUOTES)?></td>
							<td><?=htmlspecialchars($maker, ENT_QUOTES)?></td>
							<td><?=htmlspecialchars($page_title, ENT_QUOTES)?></td>
						</tr>
<?php
	} // end while
    }
?>
						</tbody>
					</table>
				</div>
				<!-- ↓↓pagenation↓↓ -->
				<!-- <nav aria-label="Page navigation example">
				  <ul class="pagination">
					<li class="page-item">
					  <a class="page-link" href="#" aria-label="Previous">
						<span aria-hidden="true">&laquo;</span>
						<span class="sr-only">Previous</span>
					  </a>
					</li>
					<li class="page-item"><a class="page-link" href="#">1</a></li>
					<li class="page-item"><a class="page-link" href="#">2</a></li>
					<li class="page-item"><a class="page-link" href="#">3</a></li>
					<li class="page-item">
					  <a class="page-link" href="#" aria-label="Next">
						<span aria-hidden="true">&raquo;</span>
						<span class="sr-only">Next</span>
					  </a>
					</li>
				  </ul>
				</nav> -->
				<!-- ↑↑pagenation↑↑ -->
			</div>
		</div>
		<footer class="footer">
			<div class="footer-inner" id="footer-inner">
				<script>
                    $("#footer-inner").load("footer.html");
				</script>
			</div>
		</footer>
	</div>
</div>


</body>
</html>
