 <?php
	require_once "../include/auth.inc";
    require_once "../include/tlib_utf.inc";

	$company_no = $_SESSION["company_no"];
	$staff_no = $_SESSION["staff_no"];

	$filename = basename($_SERVER['SCRIPT_NAME']);
	$kengen = $_SESSION["kengen"];

	$seq = Array_Check($_GET,"seq");
	$code = Array_Check($_GET,"code");
	$sosiki_code = Array_Check($_GET,"sosiki_code");
	$exec = Array_Check($_GET,"exec");
	$delmode = Array_Check($_GET,"delmode");
	$status = Array_Check($_GET,"status");
	$comment = Array_Check($_GET,"comment");
	$regdate = Array_Check($_GET,"regdate");
	if( ! $regdate ){ 
		$regdate = date("Y/m/d");
    }
	if( ! $status ){
		$status = "未対応";
	}
	$ans_is = "";
	$ans_comment = Array_Check($_GET,"ans_comment");
	$ansdate = Array_Check($_GET,"ansdate");

	$kennkyuusya = Array_Check($_GET,"kennkyuusya");
	$kennkyuusya_name = Array_Check($_GET,"kennkyuusya_name");
	$kennkyuusya_url  = Array_Check($_GET,"kennkyuusya_url");

	$dm = date("His");

	// 検索
	$conn = Get_Conn();
	$all_cnt = 0;
	$rec = "";
	$msg = "";

	$cnt = 0;
	$title = array();
	$dbvalue = array();
	$dbselvalue = array();

	$syozoku = "所属組織";
	if( $code ){
		if( substr($code, 0, 1) == "1"){
	    	$sql  = "select kikan_code, kikan_name, kikan_name_tuusyou, up_kikan_code, ldb_kikan_bunrui_name(kikan_bunrui), kikan_english, kikan_kana, url, pref, ora_nvl(addr, '') || ' ' || ora_nvl(city, '') || ' ' || ora_nvl(building, ''), post_code from mt_kikan where kikan_code = '${code}'";
			$rset = pg_query($conn,$sql);
			if($rset) {
				if($row = pg_fetch_row($rset)) {
					$cnt = 0;
					$dbvalue[$cnt] = $row[$cnt];
					$title[$cnt] = "機関コード";
					$cnt ++;
					$dbvalue[$cnt] = $row[$cnt];
					$title[$cnt] = "機関名";
					$cnt ++;
					$dbvalue[$cnt] = $row[$cnt];
					$title[$cnt] = "機関通称";
					$cnt ++;
					$dbvalue[$cnt] = $row[$cnt];
					$title[$cnt] = "上位機関コード";
					$cnt ++;
					$dbvalue[$cnt] = $row[$cnt];
					$title[$cnt] = "機関分類";
					$cnt ++;
					$dbvalue[$cnt] = $row[$cnt];
					$title[$cnt] = "機関英語名";
					$cnt ++;
					$dbvalue[$cnt] = $row[$cnt];
					$title[$cnt] = "機関カナ名";
					$cnt ++;
					$dbvalue[$cnt] = $row[$cnt];
					$title[$cnt] = "URL";
					$cnt ++;
					$dbvalue[$cnt] = $row[$cnt];
					$title[$cnt] = "都道府県";
					$cnt ++;
					$dbvalue[$cnt] = $row[$cnt];
					$title[$cnt] = "住所";
					$cnt ++;
					$dbvalue[$cnt] = $row[$cnt];
					$title[$cnt] = "郵便番号";
					$cnt ++;
				}
			}
		} else if( substr($code, 0, 1) == "3"){
	    	$sql  = "select sosiki_code, ldb_kikan_name(kikan_code), ldb_sosiki_name(up_sosiki_code), sosiki_name, sosiki_kana, url, pref, ora_nvl(addr, '') || ' ' || ora_nvl(city, '') || ' ' || ora_nvl(building, ''), post_code from mt_sosiki where sosiki_code = '${code}'";
			$rset = pg_query($conn,$sql);
			if($rset) {
				if($row = pg_fetch_row($rset)) {
					$cnt = 0;
					$dbvalue[$cnt] = $row[$cnt];
					$title[$cnt] = "組織コード";
					$cnt ++;
					$dbvalue[$cnt] = $row[$cnt];
					$title[$cnt] = "機関名";
					$cnt ++;
					$dbvalue[$cnt] = $row[$cnt];
					$title[$cnt] = "上位組織名";
					$cnt ++;
					$dbvalue[$cnt] = $row[$cnt];
					$title[$cnt] = "組織名";
					$cnt ++;
					$dbvalue[$cnt] = $row[$cnt];
					$title[$cnt] = "組織カナ名";
					$cnt ++;
					$dbvalue[$cnt] = $row[$cnt];
					$title[$cnt] = "URL";
					$cnt ++;
					$dbvalue[$cnt] = $row[$cnt];
					$title[$cnt] = "都道府県";
					$cnt ++;
					$dbvalue[$cnt] = $row[$cnt];
					$title[$cnt] = "住所";
					$cnt ++;
					$dbvalue[$cnt] = $row[$cnt];
					$title[$cnt] = "郵便番号";
					$cnt ++;
					$syozoku = "所属研究者";
				}
			}
		} else if( substr($code, 0, 1) == "5"){
	    	$sql  = "select kennkyuusya_code, name, kana from mt_kennkyuusya where kennkyuusya_code = '${code}'";
			$rset = pg_query($conn,$sql);
			if($rset) {
				if($row = pg_fetch_row($rset)) {
					$cnt = 0;
					$dbvalue[$cnt] = $row[$cnt];
					$title[$cnt] = "研究者コード";
					$cnt ++;
					$dbvalue[$cnt] = $row[$cnt];
					$title[$cnt] = "研究者名";
					$cnt ++;
					$dbvalue[$cnt] = $row[$cnt];
					$title[$cnt] = "研究者カナ";
					$cnt ++;
				}
			}
	    	$sql  = "select yakusyoku from mt_kennkyuusya_sosiki where kennkyuusya_code = '${code}' and sosiki_code = '${sosiki_code}'";
			$rset = pg_query($conn,$sql);
			if($rset) {
				if($row = pg_fetch_row($rset)) {
					$dbvalue[$cnt] = $row[0];
					$title[$cnt] = "役職";
					$cnt ++;
				}
			}
		}
	}
	if( $exec ){
		$ins = 0;
		$sql = "insert into bbs_list (company_no, id, code, base_data, req_data, status, irai_date, utime, base_title, kennkyuusya, kennkyuusya_name, kennkyuusya_url) values('${company_no}', '${staff_no}', '${code}', '${col}', '${val}', '${status}', now(), now(), '${titled}','${kennkyuusya}','${kennkyuusya_name}','${kennkyuusya_url}')";
		pg_query($conn,$sql);
		$msg = "alert('登録しました。');tclose();";
	}

	if( $delmode && $seq ){
    	$sql  = "delete from bbs where seq = '${seq}'";
		pg_query($conn,$sql);
		$msg = "alert('削除しました。');tclose();";
	}

?>
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <link rel="shortcut icon" href="img/favicon.ico">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">

    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/style.css">

    <script type="text/javascript">
    window.name = "BBSWin";
    function tclose(){
        var iframe = parent.document.getElementById("bbspopup");
        iframe.style.display = 'none';
    }
    function setDefault(){
    }
    function delExec(){
        document.frm.delmode.value = "1";
        document.frm.submit();
    }
</script>
</head>
<body onload="setDefault()">
<div class="wrapper p-0">
    <div class="main-wrap">
        <div class="main-content">
            <div class="search-wrap white-box content-wrap">
                <h2 align="center" class="font-weight-bold" style="font-size: 28px">修正依頼フォーム</h2>
                <form name="frm" method="GET" target="BBSWin">
                    <input type="hidden" name="delmode" value="">
                    <input type="hidden" name="exec" value="1">
                    <input type="hidden" name="seq" value="">
                    <input type="hidden" name="code" value="<?=$code?>">
                    <table class="detail-table responsive">
  <tr class="base-header">
    <td>修正依頼日</td>
    <td colspan="3"><input size="12" type="text" name="regdate" value="<?=$regdate?>"></td>
  </tr>
  <tr>
   <td colspan="4">&nbsp;</td>
  </tr>
  <tr bgcolor="#4F81BD">
   <td>&nbsp;</td>
   <td><font color="#FFFFFF">現行データ</font></td>
   <td colspan="2">
   <font color="#FFFFFF">修正依頼内容</font></td>
  </tr>
<?php
	$bg = "#D0D8E8";
	for( $i = 0 ; $i < $cnt ; $i ++ ){
?>
  <tr class="base-header">
    <td bgcolor="<?=$bg?>"><?=$title[$i]?></td>
    <td bgcolor="<?=$bg?>">
<?if($title[$i] == 'URL'){?>
<a target="_blank" href="<?=$dbvalue[$i]?>"><?=$dbvalue[$i]?></a>
<?} else {?>
<?=$dbvalue[$i]?>
<?}?>
</td>
<?if( $i ){ ?>
    <td bgcolor="<?=$bg?>">⇒</td>
    <td bgcolor="<?=$bg?>">
<input type="hidden" name="title<?=$i?>" value="<?=$title[$i]?>">
<input type="hidden" name="col<?=$i?>" value="<?=$dbvalue[$i]?>">
<input style="width:90%" size="12" type="text" name="val<?=$i?>" value="<?=$dbselvalue[$i]?>">
    </td>
<? } else { ?>
    <td colspan="3" bgcolor="<?=$bg?>">&nbsp;</td>
<? } ?>
  </tr>
<?php
		if( $bg == "#D0D8E8" ){
			$bg = "#E9EDF4";
		} else {
			$bg = "#D0D8E8";
		}
	}
?>
  <tr>
    <td rowspan="2" bgcolor="<?=$bg?>"><?=$syozoku?></td>
    <td bgcolor="<?=$bg?>">
     <input type="radio" name="kennkyuusya" value="追加">追加
     <input type="radio" name="kennkyuusya" value="削除">削除
    </td>
    <td bgcolor="<?=$bg?>">⇒</td>
    <td bgcolor="<?=$bg?>">
      <input type="text" name="kennkyuusya_name" style="width:90%" value="<?=$kennkyuusya_name?>">
    </td>
  </tr>
    <td bgcolor="<?=$bg?>">
     情報確認URL
    </td>
    <td bgcolor="<?=$bg?>">⇒</td>
    <td bgcolor="<?=$bg?>">
      <input type="text" name="kennkyuusya_url" style="width:90%" value="<?=$kennkyuusya_url?>">
    </td>
  </tr>
                    </table>
                    <div class="btn-wrap flex-row-responsive space-between mb-3">
                            <button class="btn btn-gray" onclick="tclose()">キャンセル</button>
                            <button class="btn btn-blue" name="execbtn" type="submit">入力内容を確認の上、送信</button>
                    </div>
                    <div>
                        誤りのあった箇所は早急に修正させていただきます。対応ステイタスはメニュー画面の修正依頼一覧表より確認できます。<br>
                        なお、修正依頼フォームでは、表記の誤りに関するご指摘のみ承っております。<br>
                        修正依頼フォームから送信されたお問い合わせに、担当者から直接返答をしておりません。あらかじめご了承ください。
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
