/* CSS Document */

body {
	margin:0;
	padding:0;
	text-align:center;
	background: #EDEDED;
}

img {
	border: none;
}

h1,h2,h3,h4,h5 {
	margin:0;
	padding:0;
}
a {
	color:#0068b7;
}
a:hover {
	text-decoration:none;
}


p {
	margin:0;
	padding:0;
	line-height:1.8;
}

#container {
	width:800px;
	margin:20px auto;
	padding:0px;
	background:url(img/body_bg.gif) repeat-y;
}


#header {
	width:800px;
	margin:0;
	padding:0;
	background: url(img/header.jpg) no-repeat top;
	height: 60px;
}


#main {
	margin:0px;
	padding:0px 20px 50px;
	text-align: left;
	color: #4f4f4f;
	width: 760px;
	font-size: 80%;
}
#main02 {
	padding-right: 1px;
	padding-left: 1px;
	text-align: left;
}

.main_top {
	background: url(img/login_bg.gif) no-repeat;
	padding: 12px;
	font-size: 12px;
	margin-bottom: 30px;
}
.main_serch {
	margin: 0px;
	padding: 30px;
	text-align: left;
	color: #4f4f4f;
	font-size: 80%;
	background:#f2f2f2;
}
.logout a {
	background: url(img/arrow05.gif) no-repeat left top;
	padding-left: 15px;
	float: right;
	font-size: 14px;
	font-weight: bold;
	margin: 20px;
	color: #626060;
}

.home a {
	background: url(img/arrow08.gif) no-repeat left top;
	padding-left: 15px;
	float: right;
	font-size: 14px;
	font-weight: bold;
	margin: 20px;
	color: #006ADF;
}

/*-----------------------fonts-----------------------------*/
.f12_blue {
	font-size: 12px;
	color: #0000FF;
}



/*-----------------------footer------------------------------*/
#footer {
	margin:0px;
	color:#444;
	border-top: 1px solid #E3E3E3;
	width: 770px;
	padding-top: 15px;
	padding-bottom: 25px;
	border-bottom: 1px solid #CCCCCC;
	font-size: 10px;
	text-align: left;
	padding-left: 30px;
}

#footer a {
	text-decoration:none;
}
#footer a:hover {
	color:#0068b7;
	text-decoration:underline;
}
.footertext {
	margin-right: 10px;
	font-size: 12px;
}
/*-----------------------h------------------------------*/
h2 {
	background: url(img/h2.gif) no-repeat left top;
	margin: 0px 0px 15px;
	padding: 10px 12px 15px 20px;
	font-size: 14px;
	font-weight: bold;
}
.h2_text {
	padding: 0px 10px 20px 20px;
	line-height: 180%;
	font-size: 12px;
	width: 730px;
}
.rss {
	float: right;
}
h3 {
	padding-bottom: 10px;
	padding-left: 20px;
	font-size: 14px;
	color: #1464AA;
}
h4 {
	background: url(img/h4.gif) no-repeat left top;
	color: #FFFFFF;
	padding: 6px 10px 8px 20px;
	margin-bottom: 10px;
	font-size: 14px;
}
h5 {
	background: #1464AA;
	padding: 10px 12px 10px 20px;
	font-weight: bold;
	color: #FFFFFF;
	margin-bottom: 5px;
}
/*----------------------- news  information-------------------------------*/

.newstitle{
	background-image:url(img/title_userinfo.gif);
	background-repeat:no-repeat;
	color:#FFFFFF;
	font-size:12px;
	font-weight:bold;
	}

.date {
	line-height: 150%;
	padding-bottom: 5px;
	font-size: 12px;
	padding-left: 10px;
}

.newstext {
	line-height: 150%;
	padding-bottom: 12px;
	font-size: 12px;
}

.newstext a:link {
	color: #0000FF;
	text-decoration: underline;
}


/*----------------------- Top　form------------------------------*/
.login {
	padding: 5px;
	background: url(img/login_bg02.gif);
}
.login .number {
	font-weight: bold;
	color: #3469C8;
	padding-top: 8px;
	padding-left: 15px;
}
#form1 {
	margin: 0px;
	padding-bottom:19px;
	line-height: 150%;
}
/*----------------------- after＿login------------------------------*/

ul.arrow {
	margin: 0px 0px 20px;
	padding: 0px;
}
.arrow li {
	padding: 0px 10px 0px 15px;
	margin: 0px 0px 10px;
	background: url(img/arrow02.gif) no-repeat left top;
	list-style: none;
	background: url(img/arrow02.gif) no-repeat left top;
}

.serch {
	padding-bottom: 15px;
	font-size: 12px;
	padding-right: 15px;
	color: #39A8E9;
	font-weight: bold;
}
.inputtext {
	height: 15px;
	line-height: 100%;
}
/*----------------------- guideline------------------------------*/

ul.guide {
	margin: 0px 0px 20px;
	padding: 0px;
}
.guide li {
	padding: 0px 10px 0px 15px;
	margin: 0px 0px 5px 5px;
	background: url(img/arrow06.gif) no-repeat left top;
	list-style: none;
	background: url(img/arrow06.gif) no-repeat left top;
}

ul.guide2 {
	margin: 0px 0px 20px;
	padding: 0px;
}
.guide2 li {
	padding: 0px 10px 0px 15px;
	margin: 0px 0px 5px 15px;
	background: url(img/arrow07.gif) no-repeat left top;
	list-style: none;
	background: url(img/arrow07.gif) no-repeat left top;
}

/*----------------------- serchページテーブル------------------------------*/
.serchtable th {
	background: #DCDCDC;
	padding: 5px;
	color: #5a5a5a;
	font-size: 12px;
	border-left: 1px solid #aaaaaa;
	border-bottom: 1px solid #FFFFFF;
}
.serchtable td {
	background: #E9F5D3;
	padding: 5px;
	color: #5A5A5A;
	font-size: 12px;
	border-left: 1px solid #C1C1C1;
	border-bottom: 1px solid #FFFFFF;
}
.serchtable {
	border-top: 2px solid #FFFFFF;
	border-bottom: 2px solid #FFFFFF;
	width: 100%;
}


.serchtable .no_left {
	border-left-style: none;
}
.logo {
	float: left;
}
